In [1]:
# Libraries 
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np
from auto_eda import AutoEDA

# Configuration
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_colwidth', None)
# pd.set_option('display.max_rows', None)

In [2]:
eda = AutoEDA()
df = eda.read_file('HR RAW DATA.csv')
eda.explo_df(df)

DataFrame Information:
<class 'pandas.core.frame.DataFrame'>
Index: 1614 entries, 0 to 1613
Data columns (total 41 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1614 non-null   object
 1   Attrition                 1614 non-null   object
 2   BusinessTravel            842 non-null    object
 3   DailyRate                 1614 non-null   object
 4   Department                302 non-null    object
 5   DistanceFromHome          1614 non-null   int64
 6   Education                 1614 non-null   int64
 7   EducationField            869 non-null    object
 8   employeecount             1614 non-null   int64
 9   employeenumber            1183 non-null   object
 10  EnvironmentSatisfaction   1614 non-null   int64
 11  Gender                    1614 non-null   int64
 12  HourlyRate                1614 non-null   object
 13  JobInvolvement            1614 non-null   int64
 14  JobLevel                  1614 non-null   int64
 15  JobRole                   1614 non-null   object
 16  JobSatisfaction           1614 non-null   int64
 17  MaritalStatus             963 non-null    object
 18  MonthlyIncome             771 non-null    object
 19  MonthlyRate               1614 non-null   int64
 20  NUMCOMPANIESWORKED        1614 non-null   int64
 21  Over18                    713 non-null    object
 22  OverTime                  938 non-null    object
 23  PercentSalaryHike         1614 non-null   int64
 24  PerformanceRating         1419 non-null   object
 25  RelationshipSatisfaction  1614 non-null   int64
 26  StandardHours             419 non-null    object
 27  StockOptionLevel          1614 non-null   int64
 28  TOTALWORKINGYEARS         1088 non-null   object
 29  TrainingTimesLastYear     1614 non-null   int64
 30  WORKLIFEBALANCE           1506 non-null   object
 31  YearsAtCompany            1614 non-null   int64
 32  YearsInCurrentRole        34 non-null     object
 33  YearsSinceLastPromotion   1614 non-null   int64
 34  YEARSWITHCURRMANAGER      1614 non-null   int64
 35  SameAsMonthlyIncome       771 non-null    object
 36  DateBirth                 1614 non-null   int64
 37  Salary                    1614 non-null   object
 38  RoleDepartament           302 non-null    object
 39  NUMBERCHILDREN            0 non-null      float64
 40  RemoteWork                1614 non-null   object
dtypes: float64(1), int64(18), object(22)
memory usage: 529.6+ KB

None

First 10 rows of the DataFrame:

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,employeecount,employeenumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NUMCOMPANIESWORKED,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TOTALWORKINGYEARS,TrainingTimesLastYear,WORKLIFEBALANCE,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YEARSWITHCURRMANAGER,SameAsMonthlyIncome,DateBirth,Salary,RoleDepartament,NUMBERCHILDREN,RemoteWork
0,51,No,NaN,"684,0$",NaN,6,3,NaN,1,"162,0",1,0,51,3,5,resEArch DIREcToR,3,NaN,"19537,0",6462,7,Y,No,13,"3,0",3,NaN,0,NaN,5,"3,0",20,NaN,15,15,"19537,0",1972,1000000000$,NaN,NaN,Yes
1,52,No,NaN,"699,0$",NaN,1,4,Life Sciences,1,"259,0",3,0,65,2,5,ManAGeR,3,NaN,"19999,0",5678,0,NaN,NaN,14,"3,0",1,NaN,1,"34,0",5,"3,0",33,NaN,11,9,"19999,0",1971,1000000000$,NaN,NaN,1
2,42,No,travel_rarely,"532,0$",Research & Development,4,2,Technical Degree,1,"319,0",3,0,58,3,5,ManaGER,4,Married,"19232,0",4933,1,NaN,No,11,"3,0",4,NaN,0,"22,0",3,NaN,22,NaN,11,15,"19232,0",1981,1000000000$,ManaGER - Research & Development,NaN,1
3,47,No,travel_rarely,"359,0$",NaN,2,4,Medical,1,NaN,1,1,82,3,4,ReseArCH DIrECtOr,3,Married,"17169,0",26703,3,Y,NaN,19,"3,0",2,NaN,2,NaN,2,NaN,20,NaN,5,6,"17169,0",1976,1000000000$,NaN,NaN,False
4,46,No,NaN,"1319,0$",NaN,3,3,Technical Degree,1,NaN,1,1,45,4,4,sAleS EXECUtIve,1,Divorced,NaN,7739,2,Y,No,12,"3,0",4,NaN,1,NaN,5,"3,0",19,NaN,2,8,NaN,1977,1000000000$,NaN,NaN,0
5,48,No,NaN,"117,0$",Research & Development,22,3,Medical,1,"1900,0",4,1,58,3,4,MANAger,4,NaN,"17174,0",2437,3,NaN,No,11,"3,0",2,NaN,1,NaN,3,"3,0",22,NaN,4,7,"17174,0",1975,1000000000$,MANAger - Research & Development,NaN,Yes
6,59,No,NaN,"1435,0$",NaN,25,3,Life Sciences,1,"81,0",1,1,99,3,3,Sales ExeCutIVe,1,NaN,NaN,2354,7,Y,NaN,11,"3,0",4,NaN,0,"28,0",3,"2,0",21,NaN,7,9,NaN,1964,1000000000$,NaN,NaN,True
7,42,No,travel_rarely,"635,0$",NaN,1,1,NaN,1,"387,0",2,0,99,3,2,Sales eXEcUTiVe,3,Married,NaN,24532,1,NaN,No,25,"4,0",3,NaN,0,"20,0",3,"3,0",20,NaN,11,6,NaN,1981,1000000000$,NaN,NaN,0
8,41,No,NaN,"1276,0$",NaN,2,5,NaN,1,NaN,2,1,91,3,4,mANAGEr,1,Married,"16595,0",5626,7,NaN,No,16,"3,0",2,NaN,1,"22,0",2,"3,0",18,NaN,11,8,"16595,0",1982,1000000000$,NaN,NaN,True
9,41,No,travel_frequently,"840,0$",NaN,9,3,NaN,1,"999,0",1,0,64,3,5,reSEaRCH DIrectoR,3,NaN,NaN,3735,2,NaN,No,17,"3,0",2,NaN,1,"21,0",2,"4,0",18,NaN,0,11,NaN,1982,1000000000$,NaN,NaN,0

Last 10 rows of the DataFrame:

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,employeecount,employeenumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NUMCOMPANIESWORKED,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TOTALWORKINGYEARS,TrainingTimesLastYear,WORKLIFEBALANCE,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YEARSWITHCURRMANAGER,SameAsMonthlyIncome,DateBirth,Salary,RoleDepartament,NUMBERCHILDREN,RemoteWork
1604,41,Yes,NaN,"1085,0$",Research & Development,2,4,Life Sciences,1,"927,0",2,1,Not Available,1,1,LAbORAToRy tEcHNICian,4,divorced,NaN,17725,4,NaN,Yes,13,"3,0",3,"80,0",1,NaN,1,"2,0",7,NaN,1,0,NaN,1982,1000000000$,LAbORAToRy tEcHNICian - Research & Developm...,NaN,Yes
1605,31,No,travel_rarely,"154,0$",NaN,7,4,NaN,1,"941,0",2,0,Not Available,2,1,SAlES rEpreSENtaTiVe,3,NaN,"2329,0",11737,3,NaN,NaN,15,NaN,2,"80,0",0,NaN,2,"4,0",7,NaN,5,2,"2329,0",1992,1000000000$,NaN,NaN,True
1606,26,No,travel_frequently,"1283,0$",Sales,1,3,Medical,1,"956,0",3,0,52,2,2,sAleS EXECUtIvE,1,NaN,"4294,0",11148,1,Y,NaN,12,"3,0",2,NaN,0,NaN,2,"3,0",7,NaN,0,7,"4294,0",1997,1000000000$,sAleS EXECUtIvE - Sales,NaN,1
1607,31,No,NaN,"616,0$",NaN,12,3,Medical,1,NaN,4,1,41,3,2,HEaltHCarE REPreSENtAtIve,4,NaN,NaN,17369,0,NaN,NaN,11,"3,0",3,NaN,2,"10,0",2,"1,0",9,NaN,8,5,NaN,1992,1000000000$,NaN,NaN,True
1608,32,No,NaN,"498,0$",NaN,3,4,Medical,1,"966,0",3,1,93,3,2,MANUfaCtuRiNG DiReCtor,1,Married,"6725,0",13554,1,NaN,NaN,12,"3,0",3,NaN,1,"8,0",2,"4,0",8,NaN,6,3,"6725,0",1991,1000000000$,NaN,NaN,1
1609,36,Yes,travel_rarely,"530,0$",NaN,3,1,Life Sciences,1,"967,0",3,0,51,2,3,saLEs ExeCUTiVe,4,Married,"10325,0",5518,1,Y,NaN,11,NaN,1,NaN,1,NaN,6,"3,0",16,NaN,3,7,"10325,0",1987,1000000000$,NaN,NaN,0
1610,45,No,non-travel,"805,0$",NaN,4,2,NaN,1,"972,0",3,0,57,3,2,LAboRaTOry tECHNiCIAn,2,NaN,"4447,0",23163,1,NaN,NaN,12,"3,0",2,NaN,0,NaN,5,"2,0",9,NaN,0,8,"4447,0",1978,1000000000$,NaN,NaN,1
1611,39,No,travel_rarely,"903,0$",NaN,-13,5,NaN,1,NaN,13,0,41,4,3,sAlES ExECUTivE,3,Single,NaN,2560,0,NaN,No,18,"3,0",4,NaN,0,"9,0",3,"3,0",8,NaN,0,7,NaN,1984,1000000000$,NaN,NaN,Yes
1612,36,No,non-travel,"1229,0$",NaN,8,4,Technical Degree,1,"990,0",1,0,84,3,2,SaLes ExecUtIVe,4,Divorced,NaN,25952,4,NaN,No,13,NaN,4,NaN,2,"12,0",3,"3,0",7,NaN,0,7,NaN,1987,1000000000$,NaN,NaN,True
1613,46,No,NaN,"566,0$",NaN,7,2,Medical,1,NaN,4,0,75,3,3,mAnUfactURInG DiRECTOr,3,NaN,"10845,0",24208,6,Y,NaN,13,"3,0",2,NaN,1,NaN,3,"3,0",8,NaN,0,7,"10845,0",1977,1000000000$,NaN,NaN,0

Statistical description of the DataFrame (numeric):

,count,mean,std,min,25%,50%,75%,max
DistanceFromHome,1614.0,4.527261,14.591913,-49.0,2.0,5.0,11.0,29.0
Education,1614.0,2.925031,1.022357,1.0,2.0,3.0,4.0,5.0
employeecount,1614.0,1.000000,0.000000,1.0,1.0,1.0,1.0,1.0
EnvironmentSatisfaction,1614.0,4.294919,6.993559,1.0,2.0,3.0,4.0,49.0
Gender,1614.0,0.398389,0.489718,0.0,0.0,0.0,1.0,1.0
JobInvolvement,1614.0,2.739777,0.711567,1.0,2.0,3.0,3.0,4.0
JobLevel,1614.0,2.068154,1.101344,1.0,1.0,2.0,3.0,5.0
JobSatisfaction,1614.0,2.738538,1.106163,1.0,2.0,3.0,4.0,4.0
MonthlyRate,1614.0,14284.495663,7110.414585,2094.0,8001.0,14248.5,20364.0,26999.0
NUMCOMPANIESWORKED,1614.0,2.673482,2.506152,0.0,1.0,2.0,4.0,9.0
PercentSalaryHike,1614.0,15.165428,3.648610,11.0,12.0,14.0,18.0,25.0
RelationshipSatisfaction,1614.0,2.704461,1.079031,1.0,2.0,3.0,4.0,4.0
StockOptionLevel,1614.0,0.791202,0.842396,0.0,0.0,1.0,1.0,3.0
TrainingTimesLastYear,1614.0,2.809789,1.297765,0.0,2.0,3.0,3.0,6.0
YearsAtCompany,1614.0,7.132590,6.124237,0.0,3.0,5.0,9.0,40.0
YearsSinceLastPromotion,1614.0,2.245973,3.235665,0.0,0.0,1.0,3.0,15.0
YEARSWITHCURRMANAGER,1614.0,4.220570,3.562695,0.0,2.0,3.0,7.0,17.0
DateBirth,1614.0,1986.076208,9.101332,1963.0,1980.0,1987.0,1993.0,2005.0
NUMBERCHILDREN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Statistical description of the DataFrame (categorical):

                    count unique                       top  freq
Age                  1614     54                        35    84
Attrition            1614      2                        No  1355
BusinessTravel        842      3             travel_rarely   586
DailyRate            1614    849                      nan$   124
Department            302      3   Research & Development    196
EducationField        869      6             Life Sciences   349
employeenumber       1183   1079                    1195,0     2
HourlyRate           1614     72             Not Available    84
JobRole              1614   1579                  mANager      4
MaritalStatus         963      5                   Married   404
MonthlyIncome         771    668                    5304,0     4
Over18                713      1                         Y   713
OverTime              938      2                        No   682
PerformanceRating    1419      2                       3,0  1205
StandardHours         419      1                      80,0   419
TOTALWORKINGYEARS    1088     40                      10,0   144
WORKLIFEBALANCE      1506      4                       3,0   913
YearsInCurrentRole     34     10                       2,0    11
SameAsMonthlyIncome   771    668                    5304,0     4
Salary               1614      1               1000000000$  1614
RoleDepartament       302    301        MaNAgeR  -  Sales      2
RemoteWork           1614      5                         1   360

Count of null values per column:

Age                            0
Attrition                      0
BusinessTravel               772
DailyRate                      0
Department                  1312
DistanceFromHome               0
Education                      0
EducationField               745
employeecount                  0
employeenumber               431
EnvironmentSatisfaction        0
Gender                         0
HourlyRate                     0
JobInvolvement                 0
JobLevel                       0
JobRole                        0
JobSatisfaction                0
MaritalStatus                651
MonthlyIncome                843
MonthlyRate                    0
NUMCOMPANIESWORKED             0
Over18                       901
OverTime                     676
PercentSalaryHike              0
PerformanceRating            195
RelationshipSatisfaction       0
StandardHours               1195
StockOptionLevel               0
TOTALWORKINGYEARS            526
TrainingTimesLastYear          0
WORKLIFEBALANCE              108
YearsAtCompany                 0
YearsInCurrentRole          1580
YearsSinceLastPromotion        0
YEARSWITHCURRMANAGER           0
SameAsMonthlyIncome          843
DateBirth                      0
Salary                         0
RoleDepartament             1312
NUMBERCHILDREN              1614
RemoteWork                     0
dtype: int64

Percentage of null values per column (only columns with nulls):

BusinessTravel          47.83
Department              81.29
EducationField          46.16
employeenumber          26.70
MaritalStatus           40.33
MonthlyIncome           52.23
Over18                  55.82
OverTime                41.88
PerformanceRating       12.08
StandardHours           74.04
TOTALWORKINGYEARS       32.59
WORKLIFEBALANCE          6.69
YearsInCurrentRole      97.89
SameAsMonthlyIncome     52.23
RoleDepartament         81.29
NUMBERCHILDREN         100.00
dtype: float64

Rows with all values as null:
There is no rows with all values as null.

Count of duplicate rows:

np.int64(0)

In [21]:
eda.explo_df(df, column='SameAsMonthlyIncome')

Exploration of the column: SameAsMonthlyIncome

Statistical description (categorical):

count        771
unique       668
top       5304,0
freq           4
Name: SameAsMonthlyIncome, dtype: object

Count of null values:

np.int64(843)

Count of unique values:

668

Unique values:

array(['19537,0', '19999,0', '19232,0', '17169,0', nan, '17174,0',
       '16595,0', '19973,0', '13402,0', '13206,0', '19545,0', '18041,0',
       '19246,0', '10748,0', '16752,0', '6201,0', '19845,0', '4001,0',
       '10447,0', '16064,0', '3210,0', '10266,0', '10475,0', '6162,0',
       '4721,0', '4615,0', '16959,0', '10306,0', '5406,0', '5902,0',
       '10855,0', '5914,0', '6646,0', '13973,0', '13320,0', '6687,0',
       '4735,0', '13872,0', '19045,0', '16015,0', '9613,0', '11510,0',
       '4306,0', '17046,0', '5067,0', '3692,0', '19847,0', '2308,0',
       '5747,0', '10422,0', '6347,0', '2348,0', '3072,0', '12490,0',
       '8020,0', '17068,0', '8943,0', '19272,0', '5577,0', '2691,0',
       '7403,0', '8823,0', '3579,0', '17779,0', '18213,0', '13577,0',
       '19190,0', '17123,0', '19187,0', '10008,0', '7988,0', '7083,0',
       '4723,0', '3407,0', '2929,0', '12031,0', '15427,0', '5126,0',
       '9619,0', '5010,0', '19033,0', '10400,0', '2793,0', '5674,0',
       '19197,0', '8412,0', '3348,0', '5309,0', '7654,0', '12808,0',
       '6586,0', '2519,0', '17099,0', '13120,0', '3131,0', '4444,0',
       '6674,0', '9852,0', '17861,0', '7446,0', '13757,0', '16598,0',
       '4285,0', '10124,0', '9714,0', '9924,0', '11245,0', '3069,0',
       '9241,0', '6472,0', '3055,0', '8321,0', '3143,0', '8578,0',
       '4197,0', '9888,0', '13341,0', '5677,0', '2909,0', '9526,0',
       '6825,0', '4424,0', '5441,0', '6074,0', '6146,0', '6172,0',
       '4668,0', '5605,0', '4319,0', '3564,0', '6261,0', '6804,0',
       '19436,0', '5828,0', '2455,0', '5055,0', '4682,0', '5257,0',
       '2119,0', '5974,0', '3034,0', '13212,0', '8392,0', '4051,0',
       '4805,0', '2741,0', '5337,0', '9434,0', '5396,0', '11159,0',
       '4960,0', '8793,0', '19189,0', '2216,0', '11713,0', '5304,0',
       '11103,0', '6632,0', '7587,0', '4335,0', '5980,0', '4244,0',
       '5228,0', '2700,0', '2366,0', '2329,0', '4294,0', '6725,0',
       '10325,0', '4447,0', '10845,0', '5472,0', '6385,0', '7525,0',
       '3660,0', '8740,0', '13499,0', '3491,0', '5220,0', '10252,0',
       '19740,0', '6209,0', '7094,0', '4534,0', '8500,0', '4639,0',
       '5363,0', '4081,0', '3578,0', '17328,0', '10793,0', '10851,0',
       '10466,0', '2362,0', '6439,0', '5769,0', '4385,0', '4066,0',
       '5206,0', '2655,0', '2570,0', '4502,0', '4968,0', '5147,0',
       '2718,0', '3539,0', '5468,0', '5813,0', '9667,0', '5154,0',
       '5675,0', '7314,0', '5098,0', '13570,0', '6712,0', '9991,0',
       '10248,0', '10938,0', '2593,0', '11878,0', '8095,0', '16856,0',
       '4537,0', '17924,0', '4014,0', '12742,0', '3376,0', '10482,0',
       '4249,0', '6549,0', '14411,0', '19586,0', '8237,0', '3211,0',
       '16704,0', '4774,0', '4568,0', '5993,0', '6499,0', '3452,0',
       '6397,0', '2725,0', '3622,0', '6180,0', '6274,0', '4381,0',
       '2559,0', '5488,0', '2514,0', '3196,0', '3420,0', '4087,0',
       '5368,0', '12936,0', '4221,0', '4963,0', '4200,0', '5006,0',
       '7639,0', '6502,0', '13525,0', '6349,0', '6380,0', '3102,0',
       '4556,0', '4230,0', '4859,0', '6322,0', '10761,0', '2973,0',
       '5204,0', '17399,0', '16885,0', '4323,0', '5155,0', '2936,0',
       '18789,0', '4883,0', '2029,0', '2996,0', '9278,0', '4162,0',
       '8853,0', '4876,0', '2141,0', '7756,0', '3936,0', '6842,0',
       '3989,0', '4930,0', '3702,0', '2705,0', '4448,0', '2379,0',
       '5487,0', '2810,0', '8938,0', '9936,0', '5454,0', '18740,0',
       '5473,0', '13503,0', '13549,0', '18172,0', '2774,0', '9439,0',
       '5265,0', '3815,0', '2389,0', '4000,0', '17584,0', '5661,0',
       '4869,0', '4649,0', '10496,0', '2768,0', '3408,0', '3755,0',
       '2187,0', '4258,0', '5326,0', '5485,0', '2782,0', '17639,0',
       '6062,0', '6288,0', '3424,0', '4194,0', '2532,0', '5666,0',
       '13726,0', '4107,0', '3597,0', '4115,0', '6272,0', '2517,0',
       '3904,0', '9204,0', '4373,0', '2064,0', '2430,0', '4877,0',
       '3760,0', '2013,0', '2974,0', '2766,0', '3377,0', '4213,0',
       '6513,0', '4284,0', '2226,0', '5561,0', '2144,0', '5373,0',
       '2897,0', '5321,0', '5410,0', '4850,0', '2001,0', '4404,0',
       '3944,0', '2960,0', '18947,0', '6465,0', '2683,0', '2014,0',
       '3441,0', '13664,0', '5021,0', '18844,0', '4739,0', '10650,0',
       '4317,0', '2024,0', '3058,0', '3929,0', '4425,0', '2328,0',
       '2657,0', '5940,0', '2622,0', '3212,0', '2911,0', '6931,0',
       '2176,0', '3230,0', '18665,0', '2789,0', '6410,0', '4941,0',
       '3983,0', '2904,0', '2696,0', '2174,0', '6755,0', '10965,0',
       '2543,0', '19406,0', '6538,0', '2258,0', '2218,0', '2654,0',
       '11935,0', '2546,0', '3894,0', '4262,0', '10527,0', '2400,0',
       '3681,0', '3447,0', '19513,0', '2659,0', '8847,0', '2045,0',
       '4851,0', '8120,0', '4577,0', '5405,0', '3708,0', '13770,0',
       '2297,0', '2450,0', '4342,0', '2572,0', '6500,0', '3149,0',
       '5324,0', '4382,0', '2553,0', '5933,0', '4403,0', '10934,0',
       '2022,0', '4256,0', '3580,0', '2899,0', '5562,0', '2377,0',
       '2404,0', '2799,0', '2811,0', '4377,0', '4240,0', '4227,0',
       '3917,0', '4969,0', '2042,0', '2821,0', '9957,0', '2207,0',
       '2070,0', '2791,0', '8224,0', '2610,0', '5731,0', '2539,0',
       '2376,0', '19081,0', '2743,0', '4538,0', '3867,0', '2080,0',
       '2096,0', '4627,0', '2302,0', '5071,0', '10596,0', '5467,0',
       '2394,0', '3629,0', '9362,0', '3229,0', '16422,0', '5647,0',
       '4400,0', '2066,0', '5486,0', '3162,0', '6651,0', '4898,0',
       '3180,0', '11244,0', '4069,0', '6392,0', '4855,0', '3312,0',
       '3117,0', '15202,0', '2580,0', '2166,0', '4374,0', '5505,0',
       '2587,0', '15972,0', '2305,0', '3433,0', '3477,0', '3907,0',
       '3445,0', '2760,0', '6294,0', '13116,0', '3591,0', '2105,0',
       '3902,0', '2662,0', '2062,0', '5507,0', '8103,0', '3978,0',
       '5399,0', '10448,0', '4440,0', '2660,0', '3375,0', '2269,0',
       '4787,0', '2809,0', '10854,0', '2571,0', '6142,0', '2496,0',
       '3419,0', '2501,0', '2566,0', '3920,0', '13964,0', '6540,0',
       '2244,0', '16184,0', '4233,0', '14814,0', '17159,0', '2318,0',
       '3617,0', '2684,0', '19237,0', '4422,0', '2552,0', '2678,0',
       '5171,0', '11916,0', '9380,0', '5878,0', '2468,0', '4127,0',
       '2148,0', '3886,0', '6667,0', '2090,0', '2086,0', '1951,0',
       '3022,0', '9724,0', '3388,0', '3038,0', '2322,0', '2926,0',
       '4505,0', '2835,0', '6553,0', '6673,0', '13591,0', '2177,0',
       '19517,0', '19202,0', '10048,0', '2723,0', '6644,0', '3161,0',
       '1420,0', '1200,0', '5238,0', '9985,0', '15992,0', '2370,0',
       '6781,0', '6653,0', '2851,0', '5258,0', '2476,0', '2285,0',
       '3448,0', '4558,0', '1702,0', '2564,0', '5070,0', '3780,0',
       '9824,0', '1878,0', '2340,0', '2127,0', '2033,0', '9602,0',
       '16627,0', '2083,0', '1009,0', '7861,0', '2642,0', '5121,0',
       '2694,0', '5094,0', '2274,0', '2314,0', '2380,0', '2008,0',
       '10552,0', '2259,0', '2413,0', '2121,0', '2479,0', '13194,0',
       '4163,0', '2600,0', '18303,0', '4777,0', '1052,0', '2461,0',
       '2596,0', '4728,0', '7351,0', '4766,0', '2827,0', '2853,0',
       '2290,0', '2107,0', '2210,0', '13191,0', '18265,0', '1118,0',
       '2372,0', '2838,0', '18061,0', '1611,0', '4768,0', '1274,0',
       '2561,0', '1563,0', '6388,0', '8376,0', '4841,0', '2074,0',
       '2972,0', '6815,0', '2690,0', '17567,0', '1569,0', '4187,0',
       '3306,0', '1393,0', '10883,0', '2862,0', '6735,0', '9756,0',
       '5294,0', '2437,0', '4071,0', '2956,0', '4648,0', '2804,0',
       '2439,0', '2856,0', '2933,0', '1091,0', '5151,0', '2863,0',
       '2858,0', '1129,0', '19431,0'], dtype=object)

Value Counts:

SameAsMonthlyIncome
5304,0     4
6347,0     4
2657,0     3
2258,0     3
2539,0     2
          ..
5151,0     1
2863,0     1
2858,0     1
1129,0     1
19845,0    1
Name: count, Length: 668, dtype: int64

Most frequent value (mode):

'5304,0'

Count of duplicates in the column:

np.int64(945)

In [4]:
for col in df.columns:
    eda.explo_df(df, column=col)

Exploration of the column: Age

Statistical description (categorical):

count     1614
unique      54
top         35
freq        84
Name: Age, dtype: object

Count of null values:

np.int64(0)

Count of unique values:

54

Unique values:

array(['51', '52', '42', '47', '46', '48', '59', '41', '56', '38', '55',
       '40', '58', '35', '45', '33', '36', '34', 'forty-seven', '53',
       '43', '60', '32', '37', '49', '39', '50', '44', '30',
       'fifty-eight', '29', '31', '54', '57', '27', 'thirty-six', '28',
       '26', 'fifty-five', '25', 'fifty-two', 'thirty-one', '24',
       'thirty', '23', '22', '21', '20', 'twenty-six', '19',
       'thirty-seven', '18', 'thirty-two', 'twenty-four'], dtype=object)

Value Counts:

Age
35              84
34              83
31              82
29              78
36              74
38              64
32              64
30              63
33              61
40              60
27              54
28              53
37              53
42              50
45              48
41              46
39              45
26              45
43              40
46              38
44              34
50              31
25              27
24              26
47              26
49              25
55              24
51              20
48              20
53              20
54              20
52              18
56              17
22              16
21              16
23              15
58              14
20              11
59              10
19               9
18               8
60               5
57               5
thirty-two       2
forty-seven      1
fifty-eight      1
thirty-six       1
fifty-five       1
fifty-two        1
thirty-one       1
thirty           1
twenty-six       1
thirty-seven     1
twenty-four      1
Name: count, dtype: int64

Most frequent value (mode):

'35'

Count of duplicates in the column:

np.int64(1560)

Exploration of the column: Attrition

Statistical description (categorical):

count     1614
unique       2
top         No
freq      1355
Name: Attrition, dtype: object

Count of null values:

np.int64(0)

Count of unique values:

2

Unique values:

array(['No', 'Yes'], dtype=object)

Value Counts:

Attrition
No     1355
Yes     259
Name: count, dtype: int64

Most frequent value (mode):

'No'

Count of duplicates in the column:

np.int64(1612)

Exploration of the column: BusinessTravel

Statistical description (categorical):

count               842
unique                3
top       travel_rarely
freq                586
Name: BusinessTravel, dtype: object

Count of null values:

np.int64(772)

Count of unique values:

3

Unique values:

array([nan, 'travel_rarely', 'travel_frequently', 'non-travel'],
      dtype=object)

Value Counts:

BusinessTravel
travel_rarely        586
travel_frequently    165
non-travel            91
Name: count, dtype: int64

Most frequent value (mode):

'travel_rarely'

Count of duplicates in the column:

np.int64(1610)

Exploration of the column: DailyRate

Statistical description (categorical):

count     1614
unique     849
top       nan$
freq       124
Name: DailyRate, dtype: object

Count of null values:

np.int64(0)

Count of unique values:

849

Unique values:

array(['684,0$', '699,0$', '532,0$', '359,0$', '1319,0$', '117,0$',
       '1435,0$', '635,0$', '1276,0$', '840,0$', '247,0$', '1369,0$',
       '201,0$', '1360,0$', '692,0$', '1398,0$', '286,0$', '1402,0$',
       '819,0$', '884,0$', '1238,0$', '515,0$', '1223,0$', '202,0$',
       '928,0$', '607,0$', '266,0$', '429,0$', '589,0$', 'nan$',
       '1180,0$', '1282,0$', '776,0$', '665,0$', '526,0$', '1034,0$',
       '1403,0$', '1499,0$', '580,0$', '859,0$', '263,0$', '1376,0$',
       '885,0$', '1003,0$', '1321,0$', '394,0$', '1372,0$', '1333,0$',
       '228,0$', '737,0$', '823,0$', '667,0$', '301,0$', '573,0$',
       '1329,0$', '630,0$', '1063,0$', '1017,0$', '1296,0$', '939,0$',
       '1355,0$', '1448,0$', '200,0$', '1202,0$', '404,0$', '208,0$',
       '813,0$', '465,0$', '1189,0$', '1001,0$', '1394,0$', '161,0$',
       '288,0$', '682,0$', '1354,0$', '147,0$', '119,0$', '1413,0$',
       '452,0$', '334,0$', '1132,0$', '982,0$', '480,0$', '1099,0$',
       '672,0$', '1379,0$', '583,0$', '1492,0$', '1050,0$', '469,0$',
       '237,0$', '1440,0$', '1291,0$', '1157,0$', '1336,0$', '1224,0$',
       '735,0$', '1389,0$', '638,0$', '1240,0$', '194,0$', '1339,0$',
       '111,0$', '1469,0$', '470,0$', '1232,0$', '1249,0$', '798,0$',
       '549,0$', '570,0$', '541,0$', '164,0$', '1117,0$', '619,0$',
       '319,0$', '956,0$', '1245,0$', '1397,0$', '527,0$', '213,0$',
       '882,0$', '330,0$', '406,0$', '217,0$', '481,0$', '669,0$',
       '1465,0$', '685,0$', '1062,0$', '177,0$', '1199,0$', '648,0$',
       '412,0$', '282,0$', '770,0$', '601,0$', '855,0$', '332,0$',
       '1326,0$', '748,0$', '405,0$', '790,0$', '971,0$', '1370,0$',
       '750,0$', '880,0$', '678,0$', '1179,0$', '350,0$', '1266,0$',
       '574,0$', '189,0$', '310,0$', '722,0$', '1219,0$', '994,0$',
       '721,0$', '853,0$', '427,0$', '852,0$', '1334,0$', '1093,0$',
       '967,0$', '989,0$', '1195,0$', '1045,0$', '829,0$', '663,0$',
       '1300,0$', '1105,0$', '906,0$', '849,0$', '1275,0$', '1218,0$',
       '422,0$', '1274,0$', '1076,0$', '1207,0$', '430,0$', '933,0$',
       '1184,0$', '586,0$', '890,0$', '379,0$', '1425,0$', '1188,0$',
       '938,0$', '1053,0$', '248,0$', '796,0$', '174,0$', '408,0$',
       '977,0$', '536,0$', '135,0$', '1476,0$', '587,0$', '495,0$',
       '523,0$', '507,0$', '1055,0$', '1445,0$', '218,0$', '447,0$',
       '1029,0$', '674,0$', '538,0$', '740,0$', '1234,0$', '170,0$',
       '1130,0$', '584,0$', '918,0$', '792,0$', '611,0$', '1383,0$',
       '867,0$', '706,0$', '728,0$', '311,0$', '556,0$', '937,0$',
       '1125,0$', '444,0$', '911,0$', '585,0$', '1392,0$', '1005,0$',
       '1299,0$', '655,0$', '746,0$', '632,0$', '658,0$', '1467,0$',
       '1312,0$', '249,0$', '802,0$', '689,0$', '1395,0$', '1436,0$',
       '1496,0$', '1480,0$', '313,0$', '894,0$', '290,0$', '1084,0$',
       '1002,0$', '1242,0$', '1052,0$', '944,0$', '771,0$', '1416,0$',
       '1327,0$', '488,0$', '1385,0$', '666,0$', '1315,0$', '442,0$',
       '950,0$', '691,0$', '1018,0$', '559,0$', '318,0$', '144,0$',
       '1171,0$', '143,0$', '1178,0$', '1107,0$', '645,0$', '1485,0$',
       '1116,0$', '163,0$', '561,0$', '426,0$', '509,0$', '258,0$',
       '525,0$', '238,0$', '482,0$', '397,0$', '243,0$', '806,0$',
       '1442,0$', '929,0$', '827,0$', '703,0$', '294,0$', '314,0$',
       '654,0$', '501,0$', '954,0$', '1434,0$', '657,0$', '240,0$',
       '791,0$', '676,0$', '436,0$', '760,0$', '661,0$', '1085,0$',
       '154,0$', '1283,0$', '616,0$', '498,0$', '530,0$', '805,0$',
       '903,0$', '1229,0$', '566,0$', '1441,0$', '153,0$', '1066,0$',
       '145,0$', '1109,0$', '124,0$', '300,0$', '1366,0$', '857,0$',
       '1204,0$', '1082,0$', '203,0$', '1308,0$', '718,0$', '593,0$',
       '1384,0$', '1361,0$', '1146,0$', '1316,0$', '363,0$', '1103,0$',
       '920,0$', '694,0$', '1429,0$', '531,0$', '621,0$', '604,0$',
       '325,0$', '1030,0$', '524,0$', '943,0$', '1009,0$', '817,0$',
       '930,0$', '1147,0$', '652,0$', '337,0$', '1136,0$', '326,0$',
       '377,0$', '1038,0$', '1490,0$', '1246,0$', '224,0$', '441,0$',
       '898,0$', '1313,0$', '1015,0$', '1387,0$', '1302,0$', '602,0$',
       '772,0$', '809,0$', '786,0$', '921,0$', '717,0$', '979,0$',
       '953,0$', '244,0$', '196,0$', '303,0$', '1092,0$', '261,0$',
       '1422,0$', '1137,0$', '511,0$', '1396,0$', '1096,0$', '1169,0$',
       '1239,0$', '157,0$', '754,0$', '1303,0$', '697,0$', '116,0$',
       '557,0$', '582,0$', '704,0$', '613,0$', '419,0$', '477,0$',
       '1211,0$', '505,0$', '269,0$', '553,0$', '1277,0$', '302,0$',
       '975,0$', '1318,0$', '881,0$', '466,0$', '945,0$', '433,0$',
       '991,0$', '1083,0$', '136,0$', '333,0$', '1462,0$', '1131,0$',
       '1023,0$', '1065,0$', '1115,0$', '1479,0$', '304,0$', '1368,0$',
       '828,0$', '799,0$', '142,0$', '446,0$', '254,0$', '1410,0$',
       '883,0$', '121,0$', '1343,0$', '490,0$', '1400,0$', '1332,0$',
       '1200,0$', '1102,0$', '1328,0$', '548,0$', '1214,0$', '120,0$',
       '841,0$', '1033,0$', '1452,0$', '1268,0$', '307,0$', '797,0$',
       '555,0$', '1377,0$', '210,0$', '483,0$', '575,0$', '1311,0$',
       '759,0$', '891,0$', '317,0$', '688,0$', '195,0$', '622,0$',
       '646,0$', '719,0$', '1012,0$', '1278,0$', '1222,0$', '1231,0$',
       '462,0$', '231,0$', '1089,0$', '1262,0$', '439,0$', '528,0$',
       '647,0$', '1097,0$', '942,0$', '966,0$', '168,0$', '299,0$',
       '999,0$', '1498,0$', '1439,0$', '1111,0$', '1174,0$', '172,0$',
       '401,0$', '866,0$', '571,0$', '1342,0$', '995,0$', '118,0$',
       '990,0$', '241,0$', '1470,0$', '492,0$', '1040,0$', '1320,0$',
       '146,0$', '1153,0$', '185,0$', '1297,0$', '1064,0$', '1351,0$',
       '468,0$', '1273,0$', '1141,0$', '1488,0$', '653,0$', '1225,0$',
       '1217,0$', '1127,0$', '1427,0$', '702,0$', '926,0$', '878,0$',
       '896,0$', '1401,0$', '675,0$', '1070,0$', '496,0$', '390,0$',
       '1220,0$', '1124,0$', '1046,0$', '267,0$', '443,0$', '1287,0$',
       '1420,0$', '562,0$', '650,0$', '141,0$', '715,0$', '376,0$',
       '932,0$', '471,0$', '180,0$', '1265,0$', '1075,0$', '1086,0$',
       '152,0$', '974,0$', '788,0$', '192,0$', '150,0$', '1167,0$',
       '206,0$', '736,0$', '322,0$', '683,0$', '1475,0$', '560,0$',
       '115,0$', '888,0$', '671,0$', '567,0$', '148,0$', '581,0$',
       '371,0$', '1181,0$', '1253,0$', '370,0$', '1194,0$', '572,0$',
       '355,0$', '783,0$', '155,0$', '508,0$', '642,0$', '1382,0$',
       '1037,0$', '1120,0$', '374,0$', '287,0$', '591,0$', '670,0$',
       '1346,0$', '103,0$', '673,0$', '705,0$', '1459,0$', '1443,0$',
       '1142,0$', '664,0$', '432,0$', '1353,0$', '489,0$', '807,0$',
       '1280,0$', '957,0$', '542,0$', '216,0$', '1150,0$', '364,0$',
       '1256,0$', '440,0$', '713,0$', '140,0$', '629,0$', '328,0$',
       '472,0$', '905,0$', '1151,0$', '644,0$', '992,0$', '1323,0$',
       '818,0$', '1431,0$', '976,0$', '832,0$', '916,0$', '1247,0$',
       '128,0$', '1158,0$', '996,0$', '1449,0$', '636,0$', '889,0$',
       '106,0$', '723,0$', '1482,0$', '738,0$', '1192,0$', '1309,0$',
       '544,0$', '641,0$', '756,0$', '895,0$', '1261,0$', '329,0$',
       '1362,0$', '1371,0$', '821,0$', '1381,0$', '1473,0$', '296,0$',
       '1349,0$', '986,0$', '413,0$', '988,0$', '1474,0$', '232,0$',
       '1236,0$', '1112,0$', '204,0$', '913,0$', '810,0$', '693,0$',
       '316,0$', '381,0$', '775,0$', '804,0$', '1090,0$', '346,0$',
       '725,0$', '182,0$', '384,0$', '1325,0$', '1258,0$', '1041,0$',
       '625,0$', '1418,0$', '1269,0$', '395,0$', '341,0$', '500,0$',
       '1454,0$', '617,0$', '1122,0$', '1198,0$', '188,0$', '335,0$',
       '461,0$', '1134,0$', '138,0$', '1206,0$', '109,0$', '277,0$',
       '265,0$', '342,0$', '1186,0$', '769,0$', '1176,0$', '1091,0$',
       '618,0$', '970,0$', '984,0$', '793,0$', '1182,0$', '603,0$',
       '874,0$', '367,0$', '199,0$', '1457,0$', '1421,0$', '1450,0$',
       '1212,0$', '1010,0$', '131,0$', '193,0$', '640,0$', '848,0$',
       '1138,0$', '256,0$', '935,0$', '458,0$', '662,0$', '499,0$',
       '949,0$', '383,0$', '1255,0$', '1221,0$', '981,0$', '1495,0$',
       '1193,0$', '467,0$', '271,0$', '410,0$', '1288,0$', '1108,0$',
       '437,0$', '457,0$', '634,0$', '546,0$', '711,0$', '448,0$',
       '365,0$', '763,0$', '486,0$', '392,0$', '727,0$', '741,0$',
       '552,0$', '506,0$', '1456,0$', '160,0$', '897,0$', '600,0$',
       '1054,0$', '428,0$', '343,0$', '1216,0$', '207,0$', '280,0$',
       '414,0$', '836,0$', '592,0$', '219,0$', '1079,0$', '1251,0$',
       '1168,0$', '1444,0$', '1154,0$', '234,0$', '529,0$', '1322,0$',
       '924,0$', '134,0$', '755,0$', '253,0$', '922,0$', '1365,0$',
       '306,0$', '1271,0$', '1404,0$', '1391,0$', '1464,0$', '1330,0$',
       '773,0$', '902,0$', '107,0$', '504,0$', '1358,0$', '824,0$',
       '594,0$', '734,0$', '766,0$', '431,0$', '1213,0$', '1373,0$',
       '1324,0$', '1123,0$', '391,0$', '125,0$', '1357,0$', '626,0$',
       '132,0$', '871,0$', '1031,0$', '1145,0$', '854,0$', '1411,0$',
       '252,0$', '833,0$', '1210,0$', '1463,0$', '812,0$', '1162,0$',
       '845,0$', '1144,0$', '156,0$', '464,0$', '1305,0$', '983,0$',
       '534,0$', '1306,0$', '1094,0$', '558,0$', '959,0$', '782,0$',
       '362,0$', '268,0$', '167,0$', '1243,0$', '720,0$', '868,0$',
       '1252,0$', '781,0$', '1272,0$', '129,0$', '1069,0$', '289,0$',
       '955,0$', '660,0$', '415,0$', '309,0$', '130,0$', '862,0$',
       '1098,0$', '969,0$', '373,0$', '599,0$', '968,0$', '830,0$',
       '1423,0$', '516,0$', '598,0$', '104,0$', '479,0$', '474,0$',
       '264,0$', '1059,0$', '563,0$', '1259,0$', '369,0$', '543,0$',
       '964,0$', '176,0$', '181,0$', '211,0$', '590,0$', '305,0$',
       '478,0$', '1294,0$', '1128,0$', '726,0$', '352,0$', '1172,0$',
       '605,0$', '1337,0$', '105,0$'], dtype=object)

Value Counts:

DailyRate
nan$       124
691,0$       7
329,0$       7
147,0$       6
530,0$       6
          ...
1162,0$      1
845,0$       1
968,0$       1
830,0$       1
1423,0$      1
Name: count, Length: 849, dtype: int64

Most frequent value (mode):

'nan$'

Count of duplicates in the column:

np.int64(765)

Exploration of the column: Department

Statistical description (categorical):

count                          302
unique                           3
top        Research & Development
freq                           196
Name: Department, dtype: object

Count of null values:

np.int64(1312)

Count of unique values:

3

Unique values:

array([nan, ' Research & Development ', ' Sales ', ' Human Resources '],
      dtype=object)

Value Counts:

Department
Research & Development     196
Sales                       91
Human Resources             15
Name: count, dtype: int64

Most frequent value (mode):

' Research & Development '

Count of duplicates in the column:

np.int64(1610)

Exploration of the column: DistanceFromHome

Statistical description (numeric):

count    1614.000000
mean        4.527261
std        14.591913
min       -49.000000
25%         2.000000
50%         5.000000
75%        11.000000
max        29.000000
Name: DistanceFromHome, dtype: float64

Count of null values:

np.int64(0)

Count of unique values:

69

Unique values:

array([  6,   1,   4,   2,   3,  22,  25,   9,   7,  23,  10,  12,  14,
       -13,  15,   8, -42,  28, -37,   5,  16, -35,  26, -26,  24,  29,
       -25,  17,  21, -18, -10, -30, -27,  20, -31, -29, -39,  18, -21,
       -15,  11,  13, -14,  19, -33, -34, -46, -36, -19,  27, -12, -23,
       -45, -28, -47, -32, -24, -16, -22, -41, -49, -11, -48, -38, -20,
       -17, -43, -40, -44])

Value Counts:

DistanceFromHome
 2     217
 1     203
 10     86
 9      85
 8      81
      ...
-21      2
-43      2
-28      2
-39      1
-40      1
Name: count, Length: 69, dtype: int64

Most frequent value (mode):

np.int64(2)

Count of duplicates in the column:

np.int64(1545)

Exploration of the column: Education

Statistical description (numeric):

count    1614.000000
mean        2.925031
std         1.022357
min         1.000000
25%         2.000000
50%         3.000000
75%         4.000000
max         5.000000
Name: Education, dtype: float64

Count of null values:

np.int64(0)

Count of unique values:

5

Unique values:

array([3, 4, 2, 1, 5])

Value Counts:

Education
3    621
4    445
2    314
1    180
5     54
Name: count, dtype: int64

Most frequent value (mode):

np.int64(3)

Count of duplicates in the column:

np.int64(1609)

Exploration of the column: EducationField

Statistical description (categorical):

count               869
unique                6
top       Life Sciences
freq                349
Name: EducationField, dtype: object

Count of null values:

np.int64(745)

Count of unique values:

6

Unique values:

array([nan, 'Life Sciences', 'Technical Degree', 'Medical', 'Other',
       'Marketing', 'Human Resources'], dtype=object)

Value Counts:

EducationField
Life Sciences       349
Medical             276
Marketing           104
Technical Degree     69
Other                59
Human Resources      12
Name: count, dtype: int64

Most frequent value (mode):

'Life Sciences'

Count of duplicates in the column:

np.int64(1607)

Exploration of the column: employeecount

Statistical description (numeric):

count    1614.0
mean        1.0
std         0.0
min         1.0
25%         1.0
50%         1.0
75%         1.0
max         1.0
Name: employeecount, dtype: float64

Count of null values:

np.int64(0)

Count of unique values:

1

Unique values:

array([1])

Value Counts:

employeecount
1    1614
Name: count, dtype: int64

Most frequent value (mode):

np.int64(1)

Count of duplicates in the column:

np.int64(1613)

Exploration of the column: employeenumber

Statistical description (categorical):

count       1183
unique      1079
top       1195,0
freq           2
Name: employeenumber, dtype: object

Count of null values:

np.int64(431)

Count of unique values:

1079

Unique values:

array(['162,0', '259,0', '319,0', ..., '2012,0', '2023,0', '2040,0'],
      dtype=object)

Value Counts:

employeenumber
1195,0    2
1185,0    2
1162,0    2
1161,0    2
1160,0    2
         ..
1669,0    1
1673,0    1
1678,0    1
1697,0    1
58,0      1
Name: count, Length: 1079, dtype: int64

Most frequent value (mode):

'1044,0'

Count of duplicates in the column:

np.int64(534)

Exploration of the column: EnvironmentSatisfaction

Statistical description (numeric):

count    1614.000000
mean        4.294919
std         6.993559
min         1.000000
25%         2.000000
50%         3.000000
75%         4.000000
max        49.000000
Name: EnvironmentSatisfaction, dtype: float64

Count of null values:

np.int64(0)

Count of unique values:

38

Unique values:

array([ 1,  3,  4,  2, 42, 37, 35, 25, 27, 31, 39, 21, 15, 14, 33, 19, 12,
       13, 28, 47, 36, 29, 24, 46, 16, 22, 41, 49, 11, 48, 18, 10, 45, 38,
       17, 20, 26, 43])

Value Counts:

EnvironmentSatisfaction
4     460
3     459
1     298
2     297
12      7
35      6
13      6
24      5
47      5
14      5
41      4
42      4
46      4
36      4
48      4
20      3
22      3
11      3
18      3
45      3
27      3
25      3
17      3
37      2
38      2
16      2
31      2
15      2
19      2
29      2
28      1
33      1
21      1
39      1
49      1
10      1
26      1
43      1
Name: count, dtype: int64

Most frequent value (mode):

np.int64(4)

Count of duplicates in the column:

np.int64(1576)

Exploration of the column: Gender

Statistical description (numeric):

count    1614.000000
mean        0.398389
std         0.489718
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: Gender, dtype: float64

Count of null values:

np.int64(0)

Count of unique values:

2

Unique values:

array([0, 1])

Value Counts:

Gender
0    971
1    643
Name: count, dtype: int64

Most frequent value (mode):

np.int64(0)

Count of duplicates in the column:

np.int64(1612)

Exploration of the column: HourlyRate

Statistical description (categorical):

count              1614
unique               72
top       Not Available
freq                 84
Name: HourlyRate, dtype: object

Count of null values:

np.int64(0)

Count of unique values:

72

Unique values:

array(['51', '65', '58', '82', '45', '99', '91', '64', '55', '68', '49',
       '61', '79', '31', '69', '48', '80', '74', '98', '59', '33', '56',
       '66', '57', '53', '87', '81', '84', '32', '41', '92', '47',
       'Not Available', '43', '86', '30', '42', '88', '96', '67', '62',
       '72', '78', '89', '52', '50', '90', '37', '94', '76', '60', '46',
       '83', '100', '40', '97', '54', '75', '39', '85', '63', '44', '93',
       '36', '35', '73', '71', '70', '38', '77', '95', '34'], dtype=object)

Value Counts:

HourlyRate
Not Available    84
42               33
66               32
48               30
84               29
                 ..
50               15
53               13
68               13
38               12
34               11
Name: count, Length: 72, dtype: int64

Most frequent value (mode):

'Not Available'

Count of duplicates in the column:

np.int64(1542)

Exploration of the column: JobInvolvement

Statistical description (numeric):

count    1614.000000
mean        2.739777
std         0.711567
min         1.000000
25%         2.000000
50%         3.000000
75%         3.000000
max         4.000000
Name: JobInvolvement, dtype: float64

Count of null values:

np.int64(0)

Count of unique values:

4

Unique values:

array([3, 2, 4, 1])

Value Counts:

JobInvolvement
3    955
2    406
4    164
1     89
Name: count, dtype: int64

Most frequent value (mode):

np.int64(3)

Count of duplicates in the column:

np.int64(1610)

Exploration of the column: JobLevel

Statistical description (numeric):

count    1614.000000
mean        2.068154
std         1.101344
min         1.000000
25%         1.000000
50%         2.000000
75%         3.000000
max         5.000000
Name: JobLevel, dtype: float64

Count of null values:

np.int64(0)

Count of unique values:

5

Unique values:

array([5, 4, 3, 2, 1])

Value Counts:

JobLevel
2    597
1    586
3    242
4    113
5     76
Name: count, dtype: int64

Most frequent value (mode):

np.int64(2)

Count of duplicates in the column:

np.int64(1609)

Exploration of the column: JobRole

Statistical description (categorical):

count          1614
unique         1579
top        mANager
freq              4
Name: JobRole, dtype: object

Count of null values:

np.int64(0)

Count of unique values:

1579

Unique values:

array([' resEArch DIREcToR ', ' ManAGeR ', ' ManaGER ', ...,
       ' sAlES ExECUTivE ', ' SaLes ExecUtIVe ',
       ' mAnUfactURInG DiRECTOr '], dtype=object)

Value Counts:

JobRole
mANager                       4
ManagEr                       3
mAnageR                       3
mAnaGeR                       3
MANAgER                       3
                             ..
human RESOurceS               1
SaLeS exEcUTiVE               1
ReSEArch scieNTiST            1
HEaLTHCArE rEpreSeNtatiVE     1
ReseaRCh dIRecTor             1
Name: count, Length: 1579, dtype: int64

Most frequent value (mode):

' mANager '

Count of duplicates in the column:

np.int64(35)

Exploration of the column: JobSatisfaction

Statistical description (numeric):

count    1614.000000
mean        2.738538
std         1.106163
min         1.000000
25%         2.000000
50%         3.000000
75%         4.000000
max         4.000000
Name: JobSatisfaction, dtype: float64

Count of null values:

np.int64(0)

Count of unique values:

4

Unique values:

array([3, 4, 1, 2])

Value Counts:

JobSatisfaction
4    514
3    481
1    317
2    302
Name: count, dtype: int64

Most frequent value (mode):

np.int64(4)

Count of duplicates in the column:

np.int64(1610)

Exploration of the column: MaritalStatus

Statistical description (categorical):

count         963
unique          5
top       Married
freq          404
Name: MaritalStatus, dtype: object

Count of null values:

np.int64(651)

Count of unique values:

5

Unique values:

array([nan, 'Married', 'Divorced', 'Single', 'divorced', 'Marreid'],
      dtype=object)

Value Counts:

MaritalStatus
Married     404
Single      325
Divorced    188
Marreid      35
divorced     11
Name: count, dtype: int64

Most frequent value (mode):

'Married'

Count of duplicates in the column:

np.int64(1608)

Exploration of the column: MonthlyIncome

Statistical description (categorical):

count        771
unique       668
top       5304,0
freq           4
Name: MonthlyIncome, dtype: object

Count of null values:

np.int64(843)

Count of unique values:

668

Unique values:

array(['19537,0', '19999,0', '19232,0', '17169,0', nan, '17174,0',
       '16595,0', '19973,0', '13402,0', '13206,0', '19545,0', '18041,0',
       '19246,0', '10748,0', '16752,0', '6201,0', '19845,0', '4001,0',
       '10447,0', '16064,0', '3210,0', '10266,0', '10475,0', '6162,0',
       '4721,0', '4615,0', '16959,0', '10306,0', '5406,0', '5902,0',
       '10855,0', '5914,0', '6646,0', '13973,0', '13320,0', '6687,0',
       '4735,0', '13872,0', '19045,0', '16015,0', '9613,0', '11510,0',
       '4306,0', '17046,0', '5067,0', '3692,0', '19847,0', '2308,0',
       '5747,0', '10422,0', '6347,0', '2348,0', '3072,0', '12490,0',
       '8020,0', '17068,0', '8943,0', '19272,0', '5577,0', '2691,0',
       '7403,0', '8823,0', '3579,0', '17779,0', '18213,0', '13577,0',
       '19190,0', '17123,0', '19187,0', '10008,0', '7988,0', '7083,0',
       '4723,0', '3407,0', '2929,0', '12031,0', '15427,0', '5126,0',
       '9619,0', '5010,0', '19033,0', '10400,0', '2793,0', '5674,0',
       '19197,0', '8412,0', '3348,0', '5309,0', '7654,0', '12808,0',
       '6586,0', '2519,0', '17099,0', '13120,0', '3131,0', '4444,0',
       '6674,0', '9852,0', '17861,0', '7446,0', '13757,0', '16598,0',
       '4285,0', '10124,0', '9714,0', '9924,0', '11245,0', '3069,0',
       '9241,0', '6472,0', '3055,0', '8321,0', '3143,0', '8578,0',
       '4197,0', '9888,0', '13341,0', '5677,0', '2909,0', '9526,0',
       '6825,0', '4424,0', '5441,0', '6074,0', '6146,0', '6172,0',
       '4668,0', '5605,0', '4319,0', '3564,0', '6261,0', '6804,0',
       '19436,0', '5828,0', '2455,0', '5055,0', '4682,0', '5257,0',
       '2119,0', '5974,0', '3034,0', '13212,0', '8392,0', '4051,0',
       '4805,0', '2741,0', '5337,0', '9434,0', '5396,0', '11159,0',
       '4960,0', '8793,0', '19189,0', '2216,0', '11713,0', '5304,0',
       '11103,0', '6632,0', '7587,0', '4335,0', '5980,0', '4244,0',
       '5228,0', '2700,0', '2366,0', '2329,0', '4294,0', '6725,0',
       '10325,0', '4447,0', '10845,0', '5472,0', '6385,0', '7525,0',
       '3660,0', '8740,0', '13499,0', '3491,0', '5220,0', '10252,0',
       '19740,0', '6209,0', '7094,0', '4534,0', '8500,0', '4639,0',
       '5363,0', '4081,0', '3578,0', '17328,0', '10793,0', '10851,0',
       '10466,0', '2362,0', '6439,0', '5769,0', '4385,0', '4066,0',
       '5206,0', '2655,0', '2570,0', '4502,0', '4968,0', '5147,0',
       '2718,0', '3539,0', '5468,0', '5813,0', '9667,0', '5154,0',
       '5675,0', '7314,0', '5098,0', '13570,0', '6712,0', '9991,0',
       '10248,0', '10938,0', '2593,0', '11878,0', '8095,0', '16856,0',
       '4537,0', '17924,0', '4014,0', '12742,0', '3376,0', '10482,0',
       '4249,0', '6549,0', '14411,0', '19586,0', '8237,0', '3211,0',
       '16704,0', '4774,0', '4568,0', '5993,0', '6499,0', '3452,0',
       '6397,0', '2725,0', '3622,0', '6180,0', '6274,0', '4381,0',
       '2559,0', '5488,0', '2514,0', '3196,0', '3420,0', '4087,0',
       '5368,0', '12936,0', '4221,0', '4963,0', '4200,0', '5006,0',
       '7639,0', '6502,0', '13525,0', '6349,0', '6380,0', '3102,0',
       '4556,0', '4230,0', '4859,0', '6322,0', '10761,0', '2973,0',
       '5204,0', '17399,0', '16885,0', '4323,0', '5155,0', '2936,0',
       '18789,0', '4883,0', '2029,0', '2996,0', '9278,0', '4162,0',
       '8853,0', '4876,0', '2141,0', '7756,0', '3936,0', '6842,0',
       '3989,0', '4930,0', '3702,0', '2705,0', '4448,0', '2379,0',
       '5487,0', '2810,0', '8938,0', '9936,0', '5454,0', '18740,0',
       '5473,0', '13503,0', '13549,0', '18172,0', '2774,0', '9439,0',
       '5265,0', '3815,0', '2389,0', '4000,0', '17584,0', '5661,0',
       '4869,0', '4649,0', '10496,0', '2768,0', '3408,0', '3755,0',
       '2187,0', '4258,0', '5326,0', '5485,0', '2782,0', '17639,0',
       '6062,0', '6288,0', '3424,0', '4194,0', '2532,0', '5666,0',
       '13726,0', '4107,0', '3597,0', '4115,0', '6272,0', '2517,0',
       '3904,0', '9204,0', '4373,0', '2064,0', '2430,0', '4877,0',
       '3760,0', '2013,0', '2974,0', '2766,0', '3377,0', '4213,0',
       '6513,0', '4284,0', '2226,0', '5561,0', '2144,0', '5373,0',
       '2897,0', '5321,0', '5410,0', '4850,0', '2001,0', '4404,0',
       '3944,0', '2960,0', '18947,0', '6465,0', '2683,0', '2014,0',
       '3441,0', '13664,0', '5021,0', '18844,0', '4739,0', '10650,0',
       '4317,0', '2024,0', '3058,0', '3929,0', '4425,0', '2328,0',
       '2657,0', '5940,0', '2622,0', '3212,0', '2911,0', '6931,0',
       '2176,0', '3230,0', '18665,0', '2789,0', '6410,0', '4941,0',
       '3983,0', '2904,0', '2696,0', '2174,0', '6755,0', '10965,0',
       '2543,0', '19406,0', '6538,0', '2258,0', '2218,0', '2654,0',
       '11935,0', '2546,0', '3894,0', '4262,0', '10527,0', '2400,0',
       '3681,0', '3447,0', '19513,0', '2659,0', '8847,0', '2045,0',
       '4851,0', '8120,0', '4577,0', '5405,0', '3708,0', '13770,0',
       '2297,0', '2450,0', '4342,0', '2572,0', '6500,0', '3149,0',
       '5324,0', '4382,0', '2553,0', '5933,0', '4403,0', '10934,0',
       '2022,0', '4256,0', '3580,0', '2899,0', '5562,0', '2377,0',
       '2404,0', '2799,0', '2811,0', '4377,0', '4240,0', '4227,0',
       '3917,0', '4969,0', '2042,0', '2821,0', '9957,0', '2207,0',
       '2070,0', '2791,0', '8224,0', '2610,0', '5731,0', '2539,0',
       '2376,0', '19081,0', '2743,0', '4538,0', '3867,0', '2080,0',
       '2096,0', '4627,0', '2302,0', '5071,0', '10596,0', '5467,0',
       '2394,0', '3629,0', '9362,0', '3229,0', '16422,0', '5647,0',
       '4400,0', '2066,0', '5486,0', '3162,0', '6651,0', '4898,0',
       '3180,0', '11244,0', '4069,0', '6392,0', '4855,0', '3312,0',
       '3117,0', '15202,0', '2580,0', '2166,0', '4374,0', '5505,0',
       '2587,0', '15972,0', '2305,0', '3433,0', '3477,0', '3907,0',
       '3445,0', '2760,0', '6294,0', '13116,0', '3591,0', '2105,0',
       '3902,0', '2662,0', '2062,0', '5507,0', '8103,0', '3978,0',
       '5399,0', '10448,0', '4440,0', '2660,0', '3375,0', '2269,0',
       '4787,0', '2809,0', '10854,0', '2571,0', '6142,0', '2496,0',
       '3419,0', '2501,0', '2566,0', '3920,0', '13964,0', '6540,0',
       '2244,0', '16184,0', '4233,0', '14814,0', '17159,0', '2318,0',
       '3617,0', '2684,0', '19237,0', '4422,0', '2552,0', '2678,0',
       '5171,0', '11916,0', '9380,0', '5878,0', '2468,0', '4127,0',
       '2148,0', '3886,0', '6667,0', '2090,0', '2086,0', '1951,0',
       '3022,0', '9724,0', '3388,0', '3038,0', '2322,0', '2926,0',
       '4505,0', '2835,0', '6553,0', '6673,0', '13591,0', '2177,0',
       '19517,0', '19202,0', '10048,0', '2723,0', '6644,0', '3161,0',
       '1420,0', '1200,0', '5238,0', '9985,0', '15992,0', '2370,0',
       '6781,0', '6653,0', '2851,0', '5258,0', '2476,0', '2285,0',
       '3448,0', '4558,0', '1702,0', '2564,0', '5070,0', '3780,0',
       '9824,0', '1878,0', '2340,0', '2127,0', '2033,0', '9602,0',
       '16627,0', '2083,0', '1009,0', '7861,0', '2642,0', '5121,0',
       '2694,0', '5094,0', '2274,0', '2314,0', '2380,0', '2008,0',
       '10552,0', '2259,0', '2413,0', '2121,0', '2479,0', '13194,0',
       '4163,0', '2600,0', '18303,0', '4777,0', '1052,0', '2461,0',
       '2596,0', '4728,0', '7351,0', '4766,0', '2827,0', '2853,0',
       '2290,0', '2107,0', '2210,0', '13191,0', '18265,0', '1118,0',
       '2372,0', '2838,0', '18061,0', '1611,0', '4768,0', '1274,0',
       '2561,0', '1563,0', '6388,0', '8376,0', '4841,0', '2074,0',
       '2972,0', '6815,0', '2690,0', '17567,0', '1569,0', '4187,0',
       '3306,0', '1393,0', '10883,0', '2862,0', '6735,0', '9756,0',
       '5294,0', '2437,0', '4071,0', '2956,0', '4648,0', '2804,0',
       '2439,0', '2856,0', '2933,0', '1091,0', '5151,0', '2863,0',
       '2858,0', '1129,0', '19431,0'], dtype=object)

Value Counts:

MonthlyIncome
5304,0     4
6347,0     4
2657,0     3
2258,0     3
2539,0     2
          ..
5151,0     1
2863,0     1
2858,0     1
1129,0     1
19845,0    1
Name: count, Length: 668, dtype: int64

Most frequent value (mode):

'5304,0'

Count of duplicates in the column:

np.int64(945)

Exploration of the column: MonthlyRate

Statistical description (numeric):

count     1614.000000
mean     14284.495663
std       7110.414585
min       2094.000000
25%       8001.000000
50%      14248.500000
75%      20364.000000
max      26999.000000
Name: MonthlyRate, dtype: float64

Count of null values:

np.int64(0)

Count of unique values:

1427

Unique values:

array([ 6462,  5678,  4933, ..., 15302, 26956, 16642])

Value Counts:

MonthlyRate
9150     4
6069     3
17001    3
9558     3
19373    3
        ..
10007    1
9128     1
24539    1
15587    1
7739     1
Name: count, Length: 1427, dtype: int64

Most frequent value (mode):

np.int64(9150)

Count of duplicates in the column:

np.int64(187)

Exploration of the column: NUMCOMPANIESWORKED

Statistical description (numeric):

count    1614.000000
mean        2.673482
std         2.506152
min         0.000000
25%         1.000000
50%         2.000000
75%         4.000000
max         9.000000
Name: NUMCOMPANIESWORKED, dtype: float64

Count of null values:

np.int64(0)

Count of unique values:

10

Unique values:

array([7, 0, 1, 3, 2, 4, 8, 9, 5, 6])

Value Counts:

NUMCOMPANIESWORKED
1    573
0    226
3    169
4    157
2    156
7     84
6     73
5     66
9     59
8     51
Name: count, dtype: int64

Most frequent value (mode):

np.int64(1)

Count of duplicates in the column:

np.int64(1604)

Exploration of the column: Over18

Statistical description (categorical):

count     713
unique      1
top         Y
freq      713
Name: Over18, dtype: object

Count of null values:

np.int64(901)

Count of unique values:

1

Unique values:

array(['Y', nan], dtype=object)

Value Counts:

Over18
Y    713
Name: count, dtype: int64

Most frequent value (mode):

'Y'

Count of duplicates in the column:

np.int64(1612)

Exploration of the column: OverTime

Statistical description (categorical):

count     938
unique      2
top        No
freq      682
Name: OverTime, dtype: object

Count of null values:

np.int64(676)

Count of unique values:

2

Unique values:

array(['No', nan, 'Yes'], dtype=object)

Value Counts:

OverTime
No     682
Yes    256
Name: count, dtype: int64

Most frequent value (mode):

'No'

Count of duplicates in the column:

np.int64(1611)

Exploration of the column: PercentSalaryHike

Statistical description (numeric):

count    1614.000000
mean       15.165428
std         3.648610
min        11.000000
25%        12.000000
50%        14.000000
75%        18.000000
max        25.000000
Name: PercentSalaryHike, dtype: float64

Count of null values:

np.int64(0)

Count of unique values:

15

Unique values:

array([13, 14, 11, 19, 12, 25, 16, 17, 22, 23, 20, 15, 21, 24, 18])

Value Counts:

PercentSalaryHike
11    232
13    230
12    225
14    220
15    110
18     98
17     88
16     86
19     82
20     60
22     59
21     51
23     29
24     25
25     19
Name: count, dtype: int64

Most frequent value (mode):

np.int64(11)

Count of duplicates in the column:

np.int64(1599)

Exploration of the column: PerformanceRating

Statistical description (categorical):

count     1419
unique       2
top        3,0
freq      1205
Name: PerformanceRating, dtype: object

Count of null values:

np.int64(195)

Count of unique values:

2

Unique values:

array(['3,0', '4,0', nan], dtype=object)

Value Counts:

PerformanceRating
3,0    1205
4,0     214
Name: count, dtype: int64

Most frequent value (mode):

'3,0'

Count of duplicates in the column:

np.int64(1611)

Exploration of the column: RelationshipSatisfaction

Statistical description (numeric):

count    1614.000000
mean        2.704461
std         1.079031
min         1.000000
25%         2.000000
50%         3.000000
75%         4.000000
max         4.000000
Name: RelationshipSatisfaction, dtype: float64

Count of null values:

np.int64(0)

Count of unique values:

4

Unique values:

array([3, 1, 4, 2])

Value Counts:

RelationshipSatisfaction
3    504
4    468
2    339
1    303
Name: count, dtype: int64

Most frequent value (mode):

np.int64(3)

Count of duplicates in the column:

np.int64(1610)

Exploration of the column: StandardHours

Statistical description (categorical):

count      419
unique       1
top       80,0
freq       419
Name: StandardHours, dtype: object

Count of null values:

np.int64(1195)

Count of unique values:

1

Unique values:

array([nan, '80,0'], dtype=object)

Value Counts:

StandardHours
80,0    419
Name: count, dtype: int64

Most frequent value (mode):

'80,0'

Count of duplicates in the column:

np.int64(1612)

Exploration of the column: StockOptionLevel

Statistical description (numeric):

count    1614.000000
mean        0.791202
std         0.842396
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         3.000000
Name: StockOptionLevel, dtype: float64

Count of null values:

np.int64(0)

Count of unique values:

4

Unique values:

array([0, 1, 2, 3])

Value Counts:

StockOptionLevel
0    687
1    666
2    172
3     89
Name: count, dtype: int64

Most frequent value (mode):

np.int64(0)

Count of duplicates in the column:

np.int64(1610)

Exploration of the column: TOTALWORKINGYEARS

Statistical description (categorical):

count     1088
unique      40
top       10,0
freq       144
Name: TOTALWORKINGYEARS, dtype: object

Count of null values:

np.int64(526)

Count of unique values:

40

Unique values:

array([nan, '34,0', '22,0', '28,0', '20,0', '21,0', '33,0', '40,0',
       '18,0', '25,0', '15,0', '17,0', '26,0', '16,0', '24,0', '14,0',
       '23,0', '27,0', '19,0', '11,0', '38,0', '37,0', '13,0', '12,0',
       '29,0', '10,0', '36,0', '35,0', '9,0', '31,0', '32,0', '8,0',
       '7,0', '30,0', '6,0', '5,0', '4,0', '3,0', '2,0', '1,0', '0,0'],
      dtype=object)

Value Counts:

TOTALWORKINGYEARS
10,0    144
8,0      86
6,0      84
9,0      69
5,0      66
7,0      56
4,0      54
1,0      53
12,0     34
3,0      32
13,0     30
14,0     30
11,0     29
16,0     28
15,0     28
20,0     28
18,0     27
21,0     23
17,0     22
2,0      21
22,0     18
19,0     17
24,0     14
28,0     13
23,0     13
0,0       8
26,0      8
33,0      6
36,0      6
29,0      6
25,0      6
27,0      5
37,0      5
31,0      4
32,0      3
40,0      3
30,0      3
35,0      3
34,0      2
38,0      1
Name: count, dtype: int64

Most frequent value (mode):

'10,0'

Count of duplicates in the column:

np.int64(1573)

Exploration of the column: TrainingTimesLastYear

Statistical description (numeric):

count    1614.000000
mean        2.809789
std         1.297765
min         0.000000
25%         2.000000
50%         3.000000
75%         3.000000
max         6.000000
Name: TrainingTimesLastYear, dtype: float64

Count of null values:

np.int64(0)

Count of unique values:

7

Unique values:

array([5, 3, 2, 0, 1, 4, 6])

Value Counts:

TrainingTimesLastYear
2    598
3    534
4    137
5    136
1     77
6     72
0     60
Name: count, dtype: int64

Most frequent value (mode):

np.int64(2)

Count of duplicates in the column:

np.int64(1607)

Exploration of the column: WORKLIFEBALANCE

Statistical description (categorical):

count     1506
unique       4
top        3,0
freq       913
Name: WORKLIFEBALANCE, dtype: object

Count of null values:

np.int64(108)

Count of unique values:

4

Unique values:

array(['3,0', nan, '2,0', '4,0', '1,0'], dtype=object)

Value Counts:

WORKLIFEBALANCE
3,0    913
2,0    359
4,0    155
1,0     79
Name: count, dtype: int64

Most frequent value (mode):

'3,0'

Count of duplicates in the column:

np.int64(1609)

Exploration of the column: YearsAtCompany

Statistical description (numeric):

count    1614.000000
mean        7.132590
std         6.124237
min         0.000000
25%         3.000000
50%         5.000000
75%         9.000000
max        40.000000
Name: YearsAtCompany, dtype: float64

Count of null values:

np.int64(0)

Count of unique values:

37

Unique values:

array([20, 33, 22, 19, 21, 18, 24, 31, 26, 16, 23, 15, 17, 32, 14, 13, 25,
       12, 11, 37, 40, 36, 27, 29, 10,  9, 30,  8,  7, 34,  6,  5,  4,  2,
        3,  1,  0])

Value Counts:

YearsAtCompany
5     208
1     171
2     141
3     141
10    133
7     115
4     114
8     106
9      94
6      78
0      44
11     36
20     29
13     26
15     21
14     19
22     17
18     15
12     15
21     14
16     14
19     12
17      9
24      7
33      5
25      5
26      4
31      3
32      3
27      3
36      3
23      2
40      2
29      2
37      1
30      1
34      1
Name: count, dtype: int64

Most frequent value (mode):

np.int64(5)

Count of duplicates in the column:

np.int64(1577)

Exploration of the column: YearsInCurrentRole

Statistical description (categorical):

count      34
unique     10
top       2,0
freq       11
Name: YearsInCurrentRole, dtype: object

Count of null values:

np.int64(1580)

Count of unique values:

10

Unique values:

array([nan, '13,0', '12,0', '11,0', '7,0', '6,0', '4,0', '3,0', '2,0',
       '1,0', '0,0'], dtype=object)

Value Counts:

YearsInCurrentRole
2,0     11
7,0      5
0,0      4
4,0      3
1,0      3
11,0     2
6,0      2
3,0      2
12,0     1
13,0     1
Name: count, dtype: int64

Most frequent value (mode):

'2,0'

Count of duplicates in the column:

np.int64(1603)

Exploration of the column: YearsSinceLastPromotion

Statistical description (numeric):

count    1614.000000
mean        2.245973
std         3.235665
min         0.000000
25%         0.000000
50%         1.000000
75%         3.000000
max        15.000000
Name: YearsSinceLastPromotion, dtype: float64

Count of null values:

np.int64(0)

Count of unique values:

16

Unique values:

array([15, 11,  5,  2,  4,  7,  0,  1, 13, 14,  8, 12,  3,  6, 10,  9])

Value Counts:

YearsSinceLastPromotion
0     625
1     384
2     177
7      93
4      67
3      62
5      53
6      37
11     26
8      20
9      18
15     15
12     11
14     10
13     10
10      6
Name: count, dtype: int64

Most frequent value (mode):

np.int64(0)

Count of duplicates in the column:

np.int64(1598)

Exploration of the column: YEARSWITHCURRMANAGER

Statistical description (numeric):

count    1614.000000
mean        4.220570
std         3.562695
min         0.000000
25%         2.000000
50%         3.000000
75%         7.000000
max        17.000000
Name: YEARSWITHCURRMANAGER, dtype: float64

Count of null values:

np.int64(0)

Count of unique values:

18

Unique values:

array([15,  9,  6,  8,  7, 11, 10, 12,  4,  0,  5, 17,  2, 14,  1, 13,  3,
       16])

Value Counts:

YEARSWITHCURRMANAGER
2     380
0     270
7     267
3     148
8     115
4     104
1      84
9      70
5      36
10     31
6      30
11     22
12     20
13     16
17      8
15      5
14      5
16      3
Name: count, dtype: int64

Most frequent value (mode):

np.int64(2)

Count of duplicates in the column:

np.int64(1596)

Exploration of the column: SameAsMonthlyIncome

Statistical description (categorical):

count        771
unique       668
top       5304,0
freq           4
Name: SameAsMonthlyIncome, dtype: object

Count of null values:

np.int64(843)

Count of unique values:

668

Unique values:

array(['19537,0', '19999,0', '19232,0', '17169,0', nan, '17174,0',
       '16595,0', '19973,0', '13402,0', '13206,0', '19545,0', '18041,0',
       '19246,0', '10748,0', '16752,0', '6201,0', '19845,0', '4001,0',
       '10447,0', '16064,0', '3210,0', '10266,0', '10475,0', '6162,0',
       '4721,0', '4615,0', '16959,0', '10306,0', '5406,0', '5902,0',
       '10855,0', '5914,0', '6646,0', '13973,0', '13320,0', '6687,0',
       '4735,0', '13872,0', '19045,0', '16015,0', '9613,0', '11510,0',
       '4306,0', '17046,0', '5067,0', '3692,0', '19847,0', '2308,0',
       '5747,0', '10422,0', '6347,0', '2348,0', '3072,0', '12490,0',
       '8020,0', '17068,0', '8943,0', '19272,0', '5577,0', '2691,0',
       '7403,0', '8823,0', '3579,0', '17779,0', '18213,0', '13577,0',
       '19190,0', '17123,0', '19187,0', '10008,0', '7988,0', '7083,0',
       '4723,0', '3407,0', '2929,0', '12031,0', '15427,0', '5126,0',
       '9619,0', '5010,0', '19033,0', '10400,0', '2793,0', '5674,0',
       '19197,0', '8412,0', '3348,0', '5309,0', '7654,0', '12808,0',
       '6586,0', '2519,0', '17099,0', '13120,0', '3131,0', '4444,0',
       '6674,0', '9852,0', '17861,0', '7446,0', '13757,0', '16598,0',
       '4285,0', '10124,0', '9714,0', '9924,0', '11245,0', '3069,0',
       '9241,0', '6472,0', '3055,0', '8321,0', '3143,0', '8578,0',
       '4197,0', '9888,0', '13341,0', '5677,0', '2909,0', '9526,0',
       '6825,0', '4424,0', '5441,0', '6074,0', '6146,0', '6172,0',
       '4668,0', '5605,0', '4319,0', '3564,0', '6261,0', '6804,0',
       '19436,0', '5828,0', '2455,0', '5055,0', '4682,0', '5257,0',
       '2119,0', '5974,0', '3034,0', '13212,0', '8392,0', '4051,0',
       '4805,0', '2741,0', '5337,0', '9434,0', '5396,0', '11159,0',
       '4960,0', '8793,0', '19189,0', '2216,0', '11713,0', '5304,0',
       '11103,0', '6632,0', '7587,0', '4335,0', '5980,0', '4244,0',
       '5228,0', '2700,0', '2366,0', '2329,0', '4294,0', '6725,0',
       '10325,0', '4447,0', '10845,0', '5472,0', '6385,0', '7525,0',
       '3660,0', '8740,0', '13499,0', '3491,0', '5220,0', '10252,0',
       '19740,0', '6209,0', '7094,0', '4534,0', '8500,0', '4639,0',
       '5363,0', '4081,0', '3578,0', '17328,0', '10793,0', '10851,0',
       '10466,0', '2362,0', '6439,0', '5769,0', '4385,0', '4066,0',
       '5206,0', '2655,0', '2570,0', '4502,0', '4968,0', '5147,0',
       '2718,0', '3539,0', '5468,0', '5813,0', '9667,0', '5154,0',
       '5675,0', '7314,0', '5098,0', '13570,0', '6712,0', '9991,0',
       '10248,0', '10938,0', '2593,0', '11878,0', '8095,0', '16856,0',
       '4537,0', '17924,0', '4014,0', '12742,0', '3376,0', '10482,0',
       '4249,0', '6549,0', '14411,0', '19586,0', '8237,0', '3211,0',
       '16704,0', '4774,0', '4568,0', '5993,0', '6499,0', '3452,0',
       '6397,0', '2725,0', '3622,0', '6180,0', '6274,0', '4381,0',
       '2559,0', '5488,0', '2514,0', '3196,0', '3420,0', '4087,0',
       '5368,0', '12936,0', '4221,0', '4963,0', '4200,0', '5006,0',
       '7639,0', '6502,0', '13525,0', '6349,0', '6380,0', '3102,0',
       '4556,0', '4230,0', '4859,0', '6322,0', '10761,0', '2973,0',
       '5204,0', '17399,0', '16885,0', '4323,0', '5155,0', '2936,0',
       '18789,0', '4883,0', '2029,0', '2996,0', '9278,0', '4162,0',
       '8853,0', '4876,0', '2141,0', '7756,0', '3936,0', '6842,0',
       '3989,0', '4930,0', '3702,0', '2705,0', '4448,0', '2379,0',
       '5487,0', '2810,0', '8938,0', '9936,0', '5454,0', '18740,0',
       '5473,0', '13503,0', '13549,0', '18172,0', '2774,0', '9439,0',
       '5265,0', '3815,0', '2389,0', '4000,0', '17584,0', '5661,0',
       '4869,0', '4649,0', '10496,0', '2768,0', '3408,0', '3755,0',
       '2187,0', '4258,0', '5326,0', '5485,0', '2782,0', '17639,0',
       '6062,0', '6288,0', '3424,0', '4194,0', '2532,0', '5666,0',
       '13726,0', '4107,0', '3597,0', '4115,0', '6272,0', '2517,0',
       '3904,0', '9204,0', '4373,0', '2064,0', '2430,0', '4877,0',
       '3760,0', '2013,0', '2974,0', '2766,0', '3377,0', '4213,0',
       '6513,0', '4284,0', '2226,0', '5561,0', '2144,0', '5373,0',
       '2897,0', '5321,0', '5410,0', '4850,0', '2001,0', '4404,0',
       '3944,0', '2960,0', '18947,0', '6465,0', '2683,0', '2014,0',
       '3441,0', '13664,0', '5021,0', '18844,0', '4739,0', '10650,0',
       '4317,0', '2024,0', '3058,0', '3929,0', '4425,0', '2328,0',
       '2657,0', '5940,0', '2622,0', '3212,0', '2911,0', '6931,0',
       '2176,0', '3230,0', '18665,0', '2789,0', '6410,0', '4941,0',
       '3983,0', '2904,0', '2696,0', '2174,0', '6755,0', '10965,0',
       '2543,0', '19406,0', '6538,0', '2258,0', '2218,0', '2654,0',
       '11935,0', '2546,0', '3894,0', '4262,0', '10527,0', '2400,0',
       '3681,0', '3447,0', '19513,0', '2659,0', '8847,0', '2045,0',
       '4851,0', '8120,0', '4577,0', '5405,0', '3708,0', '13770,0',
       '2297,0', '2450,0', '4342,0', '2572,0', '6500,0', '3149,0',
       '5324,0', '4382,0', '2553,0', '5933,0', '4403,0', '10934,0',
       '2022,0', '4256,0', '3580,0', '2899,0', '5562,0', '2377,0',
       '2404,0', '2799,0', '2811,0', '4377,0', '4240,0', '4227,0',
       '3917,0', '4969,0', '2042,0', '2821,0', '9957,0', '2207,0',
       '2070,0', '2791,0', '8224,0', '2610,0', '5731,0', '2539,0',
       '2376,0', '19081,0', '2743,0', '4538,0', '3867,0', '2080,0',
       '2096,0', '4627,0', '2302,0', '5071,0', '10596,0', '5467,0',
       '2394,0', '3629,0', '9362,0', '3229,0', '16422,0', '5647,0',
       '4400,0', '2066,0', '5486,0', '3162,0', '6651,0', '4898,0',
       '3180,0', '11244,0', '4069,0', '6392,0', '4855,0', '3312,0',
       '3117,0', '15202,0', '2580,0', '2166,0', '4374,0', '5505,0',
       '2587,0', '15972,0', '2305,0', '3433,0', '3477,0', '3907,0',
       '3445,0', '2760,0', '6294,0', '13116,0', '3591,0', '2105,0',
       '3902,0', '2662,0', '2062,0', '5507,0', '8103,0', '3978,0',
       '5399,0', '10448,0', '4440,0', '2660,0', '3375,0', '2269,0',
       '4787,0', '2809,0', '10854,0', '2571,0', '6142,0', '2496,0',
       '3419,0', '2501,0', '2566,0', '3920,0', '13964,0', '6540,0',
       '2244,0', '16184,0', '4233,0', '14814,0', '17159,0', '2318,0',
       '3617,0', '2684,0', '19237,0', '4422,0', '2552,0', '2678,0',
       '5171,0', '11916,0', '9380,0', '5878,0', '2468,0', '4127,0',
       '2148,0', '3886,0', '6667,0', '2090,0', '2086,0', '1951,0',
       '3022,0', '9724,0', '3388,0', '3038,0', '2322,0', '2926,0',
       '4505,0', '2835,0', '6553,0', '6673,0', '13591,0', '2177,0',
       '19517,0', '19202,0', '10048,0', '2723,0', '6644,0', '3161,0',
       '1420,0', '1200,0', '5238,0', '9985,0', '15992,0', '2370,0',
       '6781,0', '6653,0', '2851,0', '5258,0', '2476,0', '2285,0',
       '3448,0', '4558,0', '1702,0', '2564,0', '5070,0', '3780,0',
       '9824,0', '1878,0', '2340,0', '2127,0', '2033,0', '9602,0',
       '16627,0', '2083,0', '1009,0', '7861,0', '2642,0', '5121,0',
       '2694,0', '5094,0', '2274,0', '2314,0', '2380,0', '2008,0',
       '10552,0', '2259,0', '2413,0', '2121,0', '2479,0', '13194,0',
       '4163,0', '2600,0', '18303,0', '4777,0', '1052,0', '2461,0',
       '2596,0', '4728,0', '7351,0', '4766,0', '2827,0', '2853,0',
       '2290,0', '2107,0', '2210,0', '13191,0', '18265,0', '1118,0',
       '2372,0', '2838,0', '18061,0', '1611,0', '4768,0', '1274,0',
       '2561,0', '1563,0', '6388,0', '8376,0', '4841,0', '2074,0',
       '2972,0', '6815,0', '2690,0', '17567,0', '1569,0', '4187,0',
       '3306,0', '1393,0', '10883,0', '2862,0', '6735,0', '9756,0',
       '5294,0', '2437,0', '4071,0', '2956,0', '4648,0', '2804,0',
       '2439,0', '2856,0', '2933,0', '1091,0', '5151,0', '2863,0',
       '2858,0', '1129,0', '19431,0'], dtype=object)

Value Counts:

SameAsMonthlyIncome
5304,0     4
6347,0     4
2657,0     3
2258,0     3
2539,0     2
          ..
5151,0     1
2863,0     1
2858,0     1
1129,0     1
19845,0    1
Name: count, Length: 668, dtype: int64

Most frequent value (mode):

'5304,0'

Count of duplicates in the column:

np.int64(945)

Exploration of the column: DateBirth

Statistical description (numeric):

count    1614.000000
mean     1986.076208
std         9.101332
min      1963.000000
25%      1980.000000
50%      1987.000000
75%      1993.000000
max      2005.000000
Name: DateBirth, dtype: float64

Count of null values:

np.int64(0)

Count of unique values:

43

Unique values:

array([1972, 1971, 1981, 1976, 1977, 1975, 1964, 1982, 1967, 1985, 1968,
       1983, 1965, 1988, 1978, 1990, 1987, 1989, 1970, 1980, 1963, 1991,
       1986, 1974, 1984, 1973, 1979, 1993, 1994, 1992, 1969, 1966, 1996,
       1995, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005])

Value Counts:

DateBirth
1988    84
1989    83
1992    83
1994    78
1987    75
1991    65
1993    64
1985    64
1990    61
1983    60
1986    55
1996    54
1995    53
1981    50
1978    48
1982    46
1997    46
1984    45
1980    40
1977    38
1979    34
1973    31
1999    27
1976    27
1998    27
1974    25
1968    25
1972    20
1969    20
1970    20
1975    20
1971    19
1967    17
2002    16
2001    16
2000    15
1965    15
2003    11
1964    10
2004     9
2005     8
1963     5
1966     5
Name: count, dtype: int64

Most frequent value (mode):

np.int64(1988)

Count of duplicates in the column:

np.int64(1571)

Exploration of the column: Salary

Statistical description (categorical):

count            1614
unique              1
top       1000000000$
freq             1614
Name: Salary, dtype: object

Count of null values:

np.int64(0)

Count of unique values:

1

Unique values:

array(['1000000000$'], dtype=object)

Value Counts:

Salary
1000000000$    1614
Name: count, dtype: int64

Most frequent value (mode):

'1000000000$'

Count of duplicates in the column:

np.int64(1613)

Exploration of the column: RoleDepartament

Statistical description (categorical):

count                     302
unique                    301
top        MaNAgeR  -  Sales
freq                        2
Name: RoleDepartament, dtype: object

Count of null values:

np.int64(1312)

Count of unique values:

301

Unique values:

array([nan, ' ManaGER  -  Research & Development ',
       ' MANAger  -  Research & Development ',
       ' heaLtHcArE repResENtATiVe  -  Research & Development ',
       ' saLEs exEcutIVe  -  Sales ', ' Sales ExECuTIVe  -  Sales ',
       ' heALthCArE RePResEntaTIVe  -  Research & Development ',
       ' lABORAtOry tECHnIcIan  -  Research & Development ',
       ' ManufactUrINg DiReCTOr  -  Research & Development ',
       ' SaleS eXEcUtIVE  -  Sales ',
       ' HEaLthcaRe rEprEsEnTAtiVe  -  Research & Development ',
       ' rESeArCH sCientIST  -  Research & Development ',
       ' healTHCAre rePREseNtATiVE  -  Research & Development ',
       ' mANaGer  -  Research & Development ',
       ' HEAltHCaRe REPreseNTatIve  -  Research & Development ',
       ' SaLeS eXECUTivE  -  Sales ',
       ' reSeARCH SCIEnTiST  -  Research & Development ',
       ' ReSearch DiRecTOR  -  Research & Development ',
       ' resEaRCh SciEnTist  -  Research & Development ',
       ' hUmaN REsoUrCes  -  Human Resources ',
       ' manAgER  -  Research & Development ',
       ' SaLES eXeCUtIVE  -  Sales ',
       ' reSEarCH scIentISt  -  Research & Development ',
       ' ReSeARCh DiRECtor  -  Research & Development ',
       ' MaNAgeR  -  Sales ',
       ' RESEArCH sCIenTIst  -  Research & Development ',
       ' hUMAn reSoUrCES  -  Human Resources ',
       ' HUmAN rESOuRceS  -  Human Resources ',
       ' SaleS EXeCuTivE  -  Sales ',
       ' ReSeARch scIENTISt  -  Research & Development ',
       ' LaBoRaTorY TeChNicIAn  -  Research & Development ',
       ' ManUfaCTUriNg dIReCtor  -  Research & Development ',
       ' saLES ExECuTIVe  -  Sales ',
       ' RESEaRch SCIEntISt  -  Research & Development ',
       ' mAnUFaCtUrinG diReCtor  -  Research & Development ',
       ' maNUFAcTURING direCTOr  -  Research & Development ',
       ' labOraTORy techNicIan  -  Research & Development ',
       ' SAlEs ExeCUtive  -  Sales ',
       ' MANUFACturING DIRecToR  -  Research & Development ',
       ' Sales eXECuTIvE  -  Sales ',
       ' mANUfaCTuRiNG DiRECtOr  -  Research & Development ',
       ' ManUFACtURiNg DiRECTOr  -  Research & Development ',
       ' ResEARcH DiReCToR  -  Research & Development ',
       ' MANAgER  -  Research & Development ',
       ' labORATORY TechnIcIaN  -  Research & Development ',
       ' MaNUfacTurINg DiReCTor  -  Research & Development ',
       ' ReSEaRcH sciENTIST  -  Research & Development ',
       ' rESEARCh dIrEcTOr  -  Research & Development ',
       ' MANUfACTuRinG diRecTOR  -  Research & Development ',
       ' HeaLThCArE REpRESENTAtIVe  -  Research & Development ',
       ' LABOraTory TecHnIciaN  -  Research & Development ',
       ' sales rEprESEntAtIvE  -  Sales ',
       ' mANuFacTurinG DirECtoR  -  Research & Development ',
       ' lABorATOrY TeChnICIan  -  Research & Development ',
       ' RESEarCh SCIEnTiST  -  Research & Development ',
       ' SALes exEcuTIVe  -  Sales ',
       ' REseARCH DirectOr  -  Research & Development ',
       ' sAlES EXEcUtIVe  -  Sales ',
       ' lABoraToRY teCHnIcIaN  -  Research & Development ',
       ' LaBorATORy tEChnICiaN  -  Research & Development ',
       ' sales ExecutIvE  -  Sales ', ' sAles exECUtiVe  -  Sales ',
       ' SALEs eXecuTiVE  -  Sales ', ' SaleS executIVE  -  Sales ',
       ' rEsEArCH sCIeNTIST  -  Research & Development ',
       ' reSEArch SCIEntIsT  -  Research & Development ',
       ' rESeArCh DIrEctor  -  Research & Development ',
       ' saLES ExECUtiVe  -  Sales ',
       ' LaboRATory tEchNICIAn  -  Research & Development ',
       ' SAlEs exECUtIVe  -  Sales ', ' salEs eXECuTivE  -  Sales ',
       ' ReseaRch scIenTisT  -  Research & Development ',
       ' LaBoraTORY teCHNiCIaN  -  Research & Development ',
       ' sALEs ExeCuTive  -  Sales ',
       ' heALtHCARE rePResENtAtivE  -  Research & Development ',
       ' ManAgEr  -  Research & Development ',
       ' laboRAtORy TecHnICiAN  -  Research & Development ',
       ' ReSeARCH diRECtoR  -  Research & Development ',
       ' LAborAtOry TEchniCIAn  -  Research & Development ',
       ' SaLeS eXECutiVE  -  Sales ', ' SalEs eXECuTive  -  Sales ',
       ' rESeaRCH DIReCToR  -  Research & Development ',
       ' mANAGeR  -  Human Resources ', ' saLeS exECUtive  -  Sales ',
       ' maNuFAcTURInG DIReCtoR  -  Research & Development ',
       ' LABORaTorY TEChNIcIAN  -  Research & Development ',
       ' hEalTHcARe RePrEseNTATive  -  Research & Development ',
       ' mANuFActuring DireCtOR  -  Research & Development ',
       ' MaNagEr  -  Research & Development ',
       ' SaLeS exeCuTIVe  -  Sales ',
       ' lAboRaTory tECHNIciAN  -  Research & Development ',
       ' saLes eXECUTIVe  -  Sales ', ' saLes EXEcuTiVe  -  Sales ',
       ' mAnaGeR  -  Research & Development ',
       ' HEALThCaRe rePResEnTaTivE  -  Research & Development ',
       ' mAnAgEr  -  Research & Development ',
       ' MaNageR  -  Research & Development ',
       ' HeAlThCarE rEpreSentatiVe  -  Research & Development ',
       ' HUMAN ResoURCeS  -  Human Resources ',
       ' huMAn ResOurces  -  Human Resources ',
       ' mANUfacTURiNG dIRectOR  -  Research & Development ',
       ' saLES eXEcUTiVE  -  Sales ',
       ' labORaTORY teChNIcIaN  -  Research & Development ',
       ' saLes eXeCUTivE  -  Sales ', ' Sales exECutIVE  -  Sales ',
       ' saleS eXEcuTIvE  -  Sales ', ' SALes ExeCUtive  -  Sales ',
       ' reSearCH SCieNtIst  -  Research & Development ',
       ' HEALThcaRe RePresENtaTiVE  -  Research & Development ',
       ' rEsEARch sCientIST  -  Research & Development ',
       ' HealthcARE RePreSENtAtiVe  -  Research & Development ',
       ' ResEArch ScieNTiST  -  Research & Development ',
       ' labORaTORy TecHniciAN  -  Research & Development ',
       ' SalEs exECUTIvE  -  Sales ',
       ' LabOrATory TEChNICiaN  -  Research & Development ',
       ' reSeArcH scieNtist  -  Research & Development ',
       ' maNuFAcTUring DIrecToR  -  Research & Development ',
       ' ResEARCh DIRECtoR  -  Research & Development ',
       ' SaLes exECutIVe  -  Sales ', ' SAleS eXecuTIVe  -  Sales ',
       ' manAGER  -  Sales ',
       ' LaBOrATORy teCHnIciaN  -  Research & Development ',
       ' SAlES ExecuTIVe  -  Sales ', ' salES exEcUtiVE  -  Sales ',
       ' SAlEs ExECUTIVe  -  Sales ',
       ' HEaLTHcaRE rePReseNtaTIvE  -  Research & Development ',
       ' sAles eXEcUtIve  -  Sales ',
       ' laBoraTorY tEChnICiaN  -  Research & Development ',
       ' MANufacTURIng diREcTOr  -  Research & Development ',
       ' REsearch scIENtist  -  Research & Development ',
       ' heaLtHcARe RePReSENtaTIve  -  Research & Development ',
       ' lAbOrAtorY techNiCiaN  -  Research & Development ',
       ' laboRaTOrY TEchniCIaN  -  Research & Development ',
       ' SAles ExECutIvE  -  Sales ',
       ' HeALtHCarE represEntAtIVe  -  Research & Development ',
       ' HEalThCaRe rEpReSENtatIVe  -  Research & Development ',
       ' HEalTHCare REPrEsEntATiVE  -  Research & Development ',
       ' LaBoRaToRY TEcHnIcian  -  Research & Development ',
       ' SAlES ExecutIve  -  Sales ',
       ' LaBOrAtory TECHNIciAN  -  Research & Development ',
       ' ReSeArch scIenTIsT  -  Research & Development ',
       ' SaLEs EXECutIVe  -  Sales ',
       ' rESEARch DiRector  -  Research & Development ',
       ' HEaltHcare rEPrEsEnTatIVe  -  Research & Development ',
       ' lABORatORY TeChNiCiAN  -  Research & Development ',
       ' LaBOratory TeChnICiAn  -  Research & Development ',
       ' maNAGer  -  Sales ', ' hUMAn rEsOuRCES  -  Human Resources ',
       ' sales ExeCUTiVE  -  Sales ', ' saLEs exeCUtiVe  -  Sales ',
       ' laBorAtORy TECHnicIaN  -  Research & Development ',
       ' ReSeaRch SCIEnTiSt  -  Research & Development ',
       ' rEsEArcH scIenTIst  -  Research & Development ',
       ' RESeArch dIREcToR  -  Research & Development ',
       ' saLes ExECutIVE  -  Sales ',
       ' REseARCh SCIenTIst  -  Research & Development ',
       ' sALEs exECuTiVe  -  Sales ',
       ' rEseArCh SCieNtiST  -  Research & Development ',
       ' lABoRAtoRY TecHnIcian  -  Research & Development ',
       ' researcH SciEntIST  -  Research & Development ',
       ' REseARCH ScIeNTIST  -  Research & Development ',
       ' sAles ExecUtive  -  Sales ',
       ' mAnUfaCTuRing DiRecTor  -  Research & Development ',
       ' SaLes exEcUtIvE  -  Sales ',
       ' ReseArCH scIenTIst  -  Research & Development ',
       ' ReseArch sCienTiST  -  Research & Development ',
       ' ReSEarcH SCiEnTISt  -  Research & Development ',
       ' laBORATORY tECHNiciAN  -  Research & Development ',
       ' rESeArCH sCIeNtISt  -  Research & Development ',
       ' humAN resoURCEs  -  Human Resources ',
       ' REseARCh scieNTIsT  -  Research & Development ',
       ' SaLeS REPRESENtATIvE  -  Sales ',
       ' ResEArch SciEntiST  -  Research & Development ',
       ' ReSEaRCh SCIEnTist  -  Research & Development ',
       ' hUmAn REsOurCES  -  Human Resources ',
       ' sALeS EXecuTIVe  -  Sales ',
       ' ReseArCh SciENTIsT  -  Research & Development ',
       ' sALes rEprESentAtIvE  -  Sales ',
       ' humaN reSOUrcEs  -  Human Resources ',
       ' lAboRatOrY TechNiCiAn  -  Research & Development ',
       ' HeAlthcaRE rEPrEseNTaTIVE  -  Research & Development ',
       ' sALeS eXecuTIvE  -  Sales ', ' SALeS RepREsEnTatiVe  -  Sales ',
       ' SaLes rePrESENTaTivE  -  Sales ',
       ' rESEaRch sCientISt  -  Research & Development ',
       ' laBORatoRy TEcHnician  -  Research & Development ',
       ' ReSeaRch SCIentiST  -  Research & Development ',
       ' RESEarch ScieNtIst  -  Research & Development ',
       ' sALeS RePresenTAtivE  -  Sales ',
       ' LABORAToRy tEchNICiAn  -  Research & Development ',
       ' ResEArch sCIEnTiST  -  Research & Development ',
       ' ReSEArcH sCIeNtist  -  Research & Development ',
       ' LaBoRaTory techNICIAN  -  Research & Development ',
       ' hEaLThcARE rEpresEntATiVE  -  Research & Development ',
       ' mANufActuRIng DirECTOR  -  Research & Development ',
       ' laBOraTOrY TecHNIcIan  -  Research & Development ',
       ' sALES ReprEsentatiVE  -  Sales ',
       ' laBoRatoRy TEChNICiAN  -  Research & Development ',
       ' ReSEarch scIeNTIsT  -  Research & Development ',
       ' researCh SCientIsT  -  Research & Development ',
       ' ReseaRch scIENTisT  -  Research & Development ',
       ' lAboRaToRY teChNICIan  -  Research & Development ',
       ' rEsEaRCh diReCtOR  -  Research & Development ',
       ' labORAtoRy tEcHNICIAN  -  Research & Development ',
       ' SAlES exeCutive  -  Sales ',
       ' hEalthCaRe reprEseNTaTiVe  -  Research & Development ',
       ' ManufacTURInG DIRECtOR  -  Research & Development ',
       ' sAles exEcUtIve  -  Sales ',
       ' reseARCh SCieNTisT  -  Research & Development ',
       ' reSEarcH scIENtISt  -  Research & Development ',
       ' reseArCH scIentISt  -  Research & Development ',
       ' MANuFaCturiNG dIRECTOR  -  Research & Development ',
       ' HuMan resoUrCes  -  Human Resources ',
       ' huMAn Resources  -  Human Resources ',
       ' Sales EXEcUTiVe  -  Sales ',
       ' reSEaRCH scIenTisT  -  Research & Development ',
       ' sales rEpRESEnTatIve  -  Sales ',
       ' reseaRch DIrecTOr  -  Research & Development ',
       ' sALeS eXECutivE  -  Sales ',
       ' Human REsouRCeS  -  Human Resources ',
       ' rESeArcH sCientIST  -  Research & Development ',
       ' SAlES RepreSENtATiVe  -  Sales ', ' SAles execUTIve  -  Sales ',
       ' RESEArch SCIEnTISt  -  Research & Development ',
       ' labOrATOry TEchnIcIaN  -  Research & Development ',
       ' sALes ExEcUTIVe  -  Sales ',
       ' REsEARch sCIenTIsT  -  Research & Development ',
       ' RESeARch ScIeNtisT  -  Research & Development ',
       ' rEseARCH ScIeNtIST  -  Research & Development ',
       ' ManAGEr  -  Research & Development ',
       ' LaBoratory TECHnICIAn  -  Research & Development ',
       ' saLES exEcutivE  -  Sales ',
       ' LABorATory TecHnIcIaN  -  Research & Development ',
       ' HumAN REsourceS  -  Human Resources ',
       ' reseaRCh SCIentIst  -  Research & Development ',
       ' LaBOrAToRy teChNiciAn  -  Research & Development ',
       ' LaborAtorY Technician  -  Research & Development ',
       ' rEseaRCH sCIeNtiSt  -  Research & Development ',
       ' LABOrATOrY TEchnIcIAn  -  Research & Development ',
       ' ReSeARCh DireCtOr  -  Research & Development ',
       ' LaBORatORy tEchNiCian  -  Research & Development ',
       ' laBorATOrY TeChNIcIAn  -  Research & Development ',
       ' sALEs RePREsentaTive  -  Sales ', ' mAnageR  -  Sales ',
       ' rESEArcH SCiEntIst  -  Research & Development ',
       ' heAlThcaRe REprESeNTATive  -  Research & Development ',
       ' LABoratOry TeCHnIcIan  -  Research & Development ',
       ' hEAlthCarE rEpresenTATiVe  -  Research & Development ',
       ' HealTHcaRE rEPreSEntATive  -  Research & Development ',
       ' MaNUfActuRInG diREctOr  -  Research & Development ',
       ' saLes REPrEsentAtiVE  -  Sales ',
       ' LABorAtORy TEchnIciAn  -  Research & Development ',
       ' rEsEARcH ScieNTisT  -  Research & Development ',
       ' SalEs eXecuTive  -  Sales ', ' SaLeS EXEcUTiVe  -  Sales ',
       ' MaNufacTuRINg DirEcTor  -  Research & Development ',
       ' resEaRcH scIENTiSt  -  Research & Development ',
       ' SALes eXECuTIvE  -  Sales ',
       ' LabORatORy tEChnIcIAn  -  Research & Development ',
       ' LaBorAtOrY teCHNICIAn  -  Research & Development ',
       ' saLEs RePREsentAtiVE  -  Sales ',
       ' laBOrATORY TechNiCiAn  -  Research & Development ',
       ' sALes exECutIVe  -  Sales ',
       ' LabOraToRy technICiAN  -  Research & Development ',
       ' lAborAtORY TeCHNIciAN  -  Research & Development ',
       ' SAlES rePrESentaTIVe  -  Sales ',
       ' mANager  -  Research & Development ',
       ' HEAlThcARe rEPREseNtATIVe  -  Research & Development ',
       ' REsEArCH dIrECTOr  -  Research & Development ',
       ' rESeaRch SCIeNTIST  -  Research & Development ',
       ' SALEs REpRESentatIve  -  Sales ', ' SalES eXecUTiVE  -  Sales ',
       ' SaLes REPREseNtATive  -  Sales ',
       ' ReSeArch sCIEnTiSt  -  Research & Development ',
       ' sales REPReSeNtAtIVe  -  Sales ', ' sAles execUtIve  -  Sales ',
       ' LABOrATORy tEChNiCIaN  -  Research & Development ',
       ' hEalthCarE REPResEnTaTive  -  Research & Development ',
       ' mANagER  -  Research & Development ',
       ' sales repResENTaTiVE  -  Sales ',
       ' laboRAToRY tEChniCIAN  -  Research & Development ',
       ' resEaRcH sCIeNTisT  -  Research & Development ',
       ' maNuFAcTurING diREctOr  -  Research & Development ',
       ' mAnAger  -  Research & Development ',
       ' SALes eXEcUtiVe  -  Sales ',
       ' reSearCh SCiEnTist  -  Research & Development ',
       ' rESEARch SciENtiSt  -  Research & Development ',
       ' hUman ResourCeS  -  Human Resources ',
       ' SALES exeCUtIve  -  Sales ',
       ' ReseaRcH sCientiSt  -  Research & Development ',
       ' LAbORaTory tEcHnIciAN  -  Research & Development ',
       ' lABOraTOrY tecHniciaN  -  Research & Development ',
       ' sALeS exEcUtiVe  -  Sales ', ' salEs eXEcuTIvE  -  Sales ',
       ' SAleS ExEcuTiVE  -  Sales ', ' SaLeS exEcUTiVE  -  Sales ',
       ' ReSEArch scieNTiST  -  Research & Development ',
       ' reSEArCh sCieNtiST  -  Research & Development ',
       ' ReseaRCh dIRecTor  -  Research & Development ',
       ' SaLEs ExECUtiVE  -  Sales ',
       ' LAbORAToRy tEcHNICian  -  Research & Development ',
       ' sAleS EXECUtIvE  -  Sales '], dtype=object)

Value Counts:

RoleDepartament
MaNAgeR  -  Sales                                        2
Sales ExECuTIVe  -  Sales                                1
heALthCArE RePResEntaTIVe  -  Research & Development     1
lABORAtOry tECHnIcIan  -  Research & Development         1
ManufactUrINg DiReCTOr  -  Research & Development        1
                                                        ..
ManUFACtURiNg DiRECTOr  -  Research & Development        1
ResEARcH DiReCToR  -  Research & Development             1
MANAgER  -  Research & Development                       1
labORATORY TechnIcIaN  -  Research & Development         1
heaLtHcArE repResENtATiVe  -  Research & Development     1
Name: count, Length: 301, dtype: int64

Most frequent value (mode):

' MaNAgeR  -  Sales '

Count of duplicates in the column:

np.int64(1312)

Exploration of the column: NUMBERCHILDREN

Statistical description (numeric):

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: NUMBERCHILDREN, dtype: float64

Count of null values:

np.int64(1614)

Count of unique values:

0

Unique values:

array([nan])

Value Counts:

Series([], Name: count, dtype: int64)

Most frequent value (mode):

IndexError: single positional indexer is out-of-bounds

# NOTES / PREVIOUS CODES

In [8]:
def eda_summary(data):
    indexes = list(data.columns)
    cols = ['dtype', 'not_null_count', 'null_count', 'null_percent', 'duplicates', 'unique', 'top', 'freq', 'mean', 'std', 'min', 'max', '25%', '50%', '75%', 'description']

    data_eda = pd.DataFrame(index=indexes, columns=cols)

    descriptions = {
        'Age': 'La edad del empleado.',
        'Attrition': 'Indica si el empleado ha dejado la empresa ("No" significa que no ha dejado la empresa y "Yes" significa que ha dejado la empresa).',
        'BusinessTravel': 'Describe la frecuencia de los viajes relacionados con el trabajo del empleado (por ejemplo, "Travel_Rarely" para raramente).',
        'DailyRate': 'La tarifa diaria del empleado.',
        'Department': 'El departamento en el que trabaja el empleado (por ejemplo, "Research & Development", "Sales", etc.).',
        'DistanceFromHome': 'La distancia desde el hogar del empleado hasta su lugar de trabajo.',
        'Education': 'Nivel de educacin del empleado (generalmente en una escala del 1 al 5).',
        'EducationField': 'El campo de educacin del empleado.',
        'employeecount': 'Un contador que generalmente es 1 y se usa para contar empleados.',
        'employeenumber': 'Un nmero de identificacin nico para el empleado.',
        'EnvironmentSatisfaction': 'Nivel de satisfaccin del empleado en relacin con su entorno de trabajo. Con valores que estan comprendidos entre el 1 y el 4, siendo el 4 el nivel de mxima satisfaccin.',
        'Gender': 'El gnero del empleado. Donde 0 corresponde con "hombre" y 1 con "mujer".',
        'HourlyRate': 'La tarifa por hora del empleado.',
        'JobInvolvement': 'Nivel de implicacin del empleado en su trabajo.',
        'JobLevel': 'Nivel jerrquico del empleado en la empresa.',
        'JobRole': 'El rol o puesto de trabajo del empleado.',
        'JobSatisfaction': 'Nivel de satisfaccin del empleado con su trabajo.',
        'MaritalStatus': 'El estado civil del empleado (por ejemplo, "Single", "Married", etc.).',
        'MonthlyIncome': 'Ingresos mensuales del empleado.',
        'MonthlyRate': 'Tasa mensual del empleado.',
        'NUMCOMPANIESWORKED': 'Nmero de compaas en las que el empleado ha trabajado.',
        'Over18': 'Indica si el empleado es mayor de 18 aos.',
        'OverTime': 'Indica si el empleado trabaja horas extras ("Yes" para s o "No" para no).',
        'PercentSalaryHike': 'El porcentaje de aumento salarial del empleado.',
        'PerformanceRating': 'Calificacin de rendimiento del empleado.',
        'RelationshipSatisfaction': 'Nivel de satisfaccin en las relaciones interpersonales del empleado.',
        'StandardHours': 'Las horas estndar de trabajo.',
        'StockOptionLevel': 'Nivel de opciones de compra de acciones del empleado.',
        'TOTALWORKINGYEARS': 'Total de aos de experiencia laboral del empleado.',
        'TrainingTimesLastYear': 'Nmero de veces que el empleado recibi capacitacin el ao pasado.',
        'WORKLIFEBALANCE': 'Equilibrio entre trabajo y vida personal del empleado.',
        'YearsAtCompany': 'Aos que el empleado ha trabajado en la empresa actual.',
        'YearsInCurrentRole': 'Aos que el empleado ha estado en su puesto actual.',
        'YearsSinceLastPromotion': 'Aos desde la ltima promocin del empleado.',
        'YEARSWITHCURRMANAGER': 'Aos que el empleado ha estado bajo la supervisin del actual gerente.',
        'SameAsMonthlyIncome': 'Ingresos mensuales del empleado.',
        'DateBirth': 'Ao de nacimiento del empleado (teniendo en cuenta que los datos fueron recogidos en el 2023).',
        'Salary': 'Salario de los empleados.',
        'RoleDepartament': 'El departamento y el rol del empleado.',
        'NUMBERCHILDREN': 'Nmero de hijos de los empleados.',
        'RemoteWork': 'Si el empleado puede teletrabajar o no.'
    }

    for var in indexes:
        data_eda.loc[var, 'dtype'] = data[var].dtype
        data_eda.loc[var, 'not_null_count'] = data[var].notnull().sum()
        data_eda.loc[var, 'null_count'] = data[var].isnull().sum()
        data_eda.loc[var, 'null_percent'] = str(round((data[var].isnull().sum() / len(data)) * 100, 2)) + '%'
        data_eda.loc[var, 'duplicates'] = data[var].duplicated().sum()
        data_eda.loc[var, 'unique'] = data[var].nunique() # if data[var].dtype == 'object' else None
        data_eda.loc[var, 'top'] = data[var].mode().iloc[0] if not data[var].mode().empty else None
        data_eda.loc[var, 'freq'] = data[var].value_counts().max() if not data[var].mode().empty else None
        data_eda.loc[var, 'mean'] = data[var].mean() if data[var].dtype in ['int64', 'float64'] else None
        data_eda.loc[var, 'std'] = data[var].std() if data[var].dtype in ['int64', 'float64'] else None
        data_eda.loc[var, 'min'] = data[var].min() if data[var].dtype in ['int64', 'float64'] else None
        data_eda.loc[var, 'max'] = data[var].max() if data[var].dtype in ['int64', 'float64'] else None
        data_eda.loc[var, '25%'] = data[var].quantile(0.25) if data[var].dtype in ['int64', 'float64'] else None
        data_eda.loc[var, '50%'] = data[var].median() if data[var].dtype in ['int64', 'float64'] else None
        data_eda.loc[var, '75%'] = data[var].quantile(0.75) if data[var].dtype in ['int64', 'float64'] else None
        data_eda.loc[var, 'description'] = descriptions.get(var, 'No description available')

    return data_eda

In [ ]:
df_initial_eda = eda_summary(df)

# Description column left alignment
df_initial_eda['description'] = df_initial_eda['description'].apply(lambda x: f'{x:<}')

df_initial_eda = df_initial_eda.style.set_table_styles({
    'description': [{'selector': '', 'props': [('text-align', 'left')]}]
})

df_initial_eda = df_initial_eda.set_table_styles({
    'description': [{'selector': 'th', 'props': [('text-align', 'left')]}]
}, overwrite=False)

df_initial_eda

In [12]:
df.loc[df['employeenumber'].duplicated(keep=False), :].sort_values(by='employeenumber')

In [13]:
null_columns = df.isnull().sum()[df.isnull().sum() > 0]
null_percent = pd.DataFrame(null_columns, columns=['null_total_qty'])
null_percent['null_percent'] = (round((null_percent['null_total_qty'] / 1614) * 100, 2)).apply(lambda x: f"{x}%")
null_percent

                     null_total_qty null_percent
BusinessTravel                  772       47.83%
Department                     1312       81.29%
EducationField                  745       46.16%
employeenumber                  431        26.7%
MaritalStatus                   651       40.33%
MonthlyIncome                   843       52.23%
Over18                          901       55.82%
OverTime                        676       41.88%
PerformanceRating               195       12.08%
StandardHours                  1195       74.04%
TOTALWORKINGYEARS               526       32.59%
WORKLIFEBALANCE                 108        6.69%
YearsInCurrentRole             1580       97.89%
SameAsMonthlyIncome             843       52.23%
RoleDepartament                1312       81.29%
NUMBERCHILDREN                 1614       100.0%